In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\james\Documents\MLB\Database\Final Dataset.csv")

In [3]:
df[['spray_angle', 'to_left']].head()

   spray_angle  to_left
0    17.210945      0.0
1    29.426135      0.0
2    25.926139      0.0
3          NaN      NaN
4          NaN      NaN

In [7]:
df.groupby('batSide')[['to_left', 'to_middle', 'to_right']].mean()

          to_left  to_middle  to_right
batSide
L        0.216319   0.380234  0.403447
R        0.349481   0.405862  0.244657