In [1]:
import os
import glob
import pandas as pd

# Define the root directory
root_dir = r"C:\Users\james\Documents\MLB\Database\B01. Matchups"

# Find all .xlsx files in subdirectories
file_paths = glob.glob(os.path.join(root_dir, "**", "*.xlsx"), recursive=True)

# Read and append all files
df_list = [pd.read_excel(file) for file in file_paths]
combined_df = pd.concat(df_list, ignore_index=True)

# Display the first few rows
print(combined_df.head())

       id          fullName  firstName    lastName     position batSide  \
0  663697    Jonathan India   Jonathan       India  Second Base   Right
1  606157  Aristides Aquino  Aristides      Aquino   Outfielder   Right
2  502054        Tommy Pham     Thomas        Pham   Outfielder   Right
3  458015        Joey Votto     Joseph       Votto   First Base    Left
4  663886  Tyler Stephenson      Tyler  Stephenson      Catcher   Right

  pitchHand        date  teamId  status  ...       obp       slg      woba  \
0     Right  20220407.0   113.0  Active  ...  0.351400  0.404582  0.332341
1     Right  20220407.0   113.0  Active  ...  0.300216  0.413941  0.306211
2     Right  20220407.0   113.0  Active  ...  0.357672  0.405343  0.334893
3     Right  20220407.0   113.0  Active  ...  0.373217  0.454164  0.357208
4     Right  20220407.0   113.0  Active  ...  0.339259  0.391373  0.320786

    b1_rate   b2_rate   b3_rate   hr_rate   bb_rate  hbp_rate   so_rate
0  0.142613  0.048548  0.004510  0.023177  0.105296  0.023998  0.200434
1  0.115235  0.038719  0.004170  0.040506  0.089889  0.010007  0.273389
2  0.148494  0.040729  0.004199  0.025516  0.127496  0.009004  0.214003
3  0.132130  0.049111  0.002380  0.035752  0.144002  0.009001  0.197121
4  0.156811  0.049423  0.001565  0.020929  0.095000  0.014008  0.175733

[5 rows x 138 columns]

In [4]:
combined_df['year'] = combined_df['date'].astype(str).str[:4]

In [5]:
combined_df['year'].head()

0    2022
1    2022
2    2022
3    2022
4    2022
Name: year, dtype: object

In [6]:
combined_df.groupby('year')['hr_b_long'].mean()

KeyError: 'Column not found: hr_b_long'

In [12]:
combined_df.query('fullName == "Rafael Devers"').tail()[['date', 'hr_b_r']]

              date    hr_b_r
140450  20240918.0  0.008671
140749  20240919.0  0.008648
141865  20240923.0  0.000000
141963  20240924.0  0.000000
142259  20240925.0  0.000000

In [15]:
complete_dataset = pd.read_csv(r"C:\Users\james\Documents\MLB\Database\Complete Dataset - Adjusted.csv")

In [20]:
complete_dataset.query('batterName == "Rafael Devers"').query('pitchHand == "R"').tail(10)[['date', 'hr_b']]

             date      hr_b
1714072  20240918  0.008613
1714089  20240918  0.008648
1715187  20240919  0.008683
1715209  20240919  0.008641
1715230  20240919  0.008641
1717001  20240920  0.008637
1717017  20240920  0.008596
1717036  20240920  0.008600
1717055  20240920  0.008536
1717071  20240920  0.000000

In [40]:
complete_dataset.query('batterName == "Jarren Duran"').drop_duplicates(['gamePk', 'batter'], keep='last').query('year >=2024').query('pitchHand == "R"')[['date', 'b1_b']].tail()

             date      b1_b
1718235  20240921  0.137417
1719356  20240922  0.153684
1719500  20240923  0.144693
1719882  20240924  0.167159
1724772  20240928  0.145219

In [39]:
combined_df.query('fullName == "Jarren Duran"').query('year == "2024"')[['date', 'b1_b_r']].tail()

              date    b1_b_r
140449  20240918.0  0.114698
140748  20240919.0  0.115024
141854  20240923.0  0.153684
141952  20240924.0  0.144693
142248  20240925.0  0.167159

In [ ]:
Hypothesis:
B01 is fine.
Matchup files are fine. 
They match what's expected from complete dataset
Old matchup models work well with them still

New models are bad
Because M03 is bad.