In [4]:
import pandas as pd
import os

%run "C:\Users\james\Documents\MLB\Code\U1. Imports.ipynb"

In [5]:
df = pd.read_excel(os.path.join(baseball_path, "Book1.xlsx"))

In [9]:
df.columns

Index(['Rank', 'EntryId', 'EntryName', 'TimeRemaining', 'Points', 'Lineup',
       'P', 'P.1', 'C', '1B', '2B', '3B', 'SS', 'OF', 'OF.1', 'OF.2', '_P',
       '_P.1', '_C', '_1B', '_2B', '_3B', '_SS', '_OF', '_OF.1', '_OF.2',
       'counts'],
      dtype='object')

In [11]:
import pandas as pd

# Assuming df is your DataFrame
def row_value_counts(row):
    counts = row.value_counts().sort_values(ascending=False)
    return '-'.join(map(str, counts.values))

df['counts'] = df[['_C', '_1B', '_2B', '_3B', '_SS', '_OF', '_OF.1', '_OF.2']].apply(row_value_counts, axis=1)

# This will add a new column 'counts' with the formatted value counts for each row
print(df.head())

   Rank     EntryId               EntryName  TimeRemaining  Points  \
0     1  4376574277  CouldBeTravis (30/147)              0   175.8
1     2  4376074917   inittobinkit (87/100)              0   172.3
2     3  4376072172        zroth2 (143/150)              0   167.3
3     4  4376184837       dcoops61 (77/100)              0   166.8
4     5  4376614076       zwack222 (84/150)              0   166.3

                                                                                                                                                                               Lineup  \
0                    1B Pete Alonso 2B Jeff McNeil 3B Mark Vientos C Alejandro Kirk OF Jesse Winker OF Jo Adell OF Adam Duvall P Paul Skenes P Spencer Arrighetti SS Francisco Lindor
1             1B Pete Alonso 2B Jeff McNeil 3B Mark Vientos C Yasmani Grandal OF Jesse Winker OF Jo Adell OF Joey Loperfido P Paul Skenes P Spencer Schwellenbach SS Francisco Lindor
2  1B Niko Kavadas 2B Isiah Kiner-Falefa 3B Ernie Clement C Joey Bart OF Bryan Reynolds OF Jesse Winker OF Bryan De La Cruz P Paul Skenes P Spencer Schwellenbach SS Francisco Lindor
3        1B Luis Arraez 2B Jeff McNeil 3B Mark Vientos C Yasmani Grandal OF Bryan Reynolds OF Jesse Winker OF Bryan De La Cruz P Paul Skenes P Spencer Arrighetti SS Francisco Lindor
4                     1B Matt Olson 2B Jeff McNeil 3B Mark Vientos C Matt Thaiss OF Jesse Winker OF Jo Adell OF Adam Duvall P Paul Skenes P Spencer Schwellenbach SS Francisco Lindor

             P                    P.1                C            1B  \
0  Paul Skenes     Spencer Arrighetti   Alejandro Kirk   Pete Alonso
1  Paul Skenes  Spencer Schwellenbach  Yasmani Grandal   Pete Alonso
2  Paul Skenes  Spencer Schwellenbach        Joey Bart  Niko Kavadas
3  Paul Skenes     Spencer Arrighetti  Yasmani Grandal   Luis Arraez
4  Paul Skenes  Spencer Schwellenbach      Matt Thaiss    Matt Olson

                   2B             3B                SS              OF  \
0         Jeff McNeil   Mark Vientos  Francisco Lindor    Jesse Winker
1         Jeff McNeil   Mark Vientos  Francisco Lindor    Jesse Winker
2  Isiah Kiner-Falefa  Ernie Clement  Francisco Lindor  Bryan Reynolds
3         Jeff McNeil   Mark Vientos  Francisco Lindor  Bryan Reynolds
4         Jeff McNeil   Mark Vientos  Francisco Lindor    Jesse Winker

           OF.1              OF.2   _P _P.1   _C  _1B  _2B  _3B  _SS  _OF  \
0      Jo Adell       Adam Duvall  PIT  HOU  TOR  NYM  NYM  NYM  NYM  NYM
1      Jo Adell    Joey Loperfido  PIT  ATL  PIT  NYM  NYM  NYM  NYM  NYM
2  Jesse Winker  Bryan De La Cruz  PIT  ATL  PIT  LAA  PIT  TOR  NYM  PIT
3  Jesse Winker  Bryan De La Cruz  PIT  HOU  PIT   SD  NYM  NYM  NYM  PIT
4      Jo Adell       Adam Duvall  PIT  ATL  LAA  ATL  NYM  NYM  NYM  NYM

  _OF.1 _OF.2   counts
0   LAA   ATL  5-1-1-1
1   LAA   TOR  5-1-1-1
2   NYM   PIT  4-2-1-1
3   NYM   PIT    4-3-1
4   LAA   ATL    4-2-2

In [13]:
df['counts'].value_counts(normalize=True)

counts
5-2-1              0.335280
5-3                0.168510
5-1-1-1            0.093015
4-3-1              0.086529
4-2-1-1            0.065641
3-2-1-1-1          0.037116
4-4                0.036863
3-2-2-1            0.028778
2-2-1-1-1-1        0.027570
3-3-1-1            0.023022
4-1-1-1-1          0.020243
2-2-2-1-1          0.020186
3-3-2              0.018109
4-2-2              0.017295
3-1-1-1-1-1        0.009518
2-1-1-1-1-1-1      0.009012
2-2-2-2            0.001909
1-1-1-1-1-1-1-1    0.001123
6-2                0.000168
6-1-1              0.000112
Name: proportion, dtype: float64

In [ ]:
# counts
# 5-2-1              0.335280
# 5-3                0.168510
# 5-1-1-1            0.093015
# 4-3-1              0.086529
# 4-2-1-1            0.065641
# 3-2-1-1-1          0.037116
# 4-4                0.036863
# 3-2-2-1            0.028778
# 2-2-1-1-1-1        0.027570
# 3-3-1-1            0.023022
# 4-1-1-1-1          0.020243
# 2-2-2-1-1          0.020186
# 3-3-2              0.018109
# 4-2-2              0.017295
# 3-1-1-1-1-1        0.009518
# 2-1-1-1-1-1-1      0.009012
# 2-2-2-2            0.001909
# 1-1-1-1-1-1-1-1    0.001123
# 6-2                0.000168
# 6-1-1              0.000112