In [1]:
import pandas as pd
import numpy as np
import os
import datetime

import statsapi
from statsapi import get

import import_ipynb
from Utilities import *

from joblib import Parallel, delayed

import warnings
warnings.simplefilter(action="ignore")

baseball_path = r"C:\Users\james\Documents\MLB\Data"

importing Jupyter notebook from Utilities.ipynb

In [26]:
# This reads in a map of team name, codes, and the number Fangraphs uses in their URLs
team_map = pd.read_csv(os.path.join(baseball_path, "Utilities", "Team Map.csv"))

# We just need teams right now
team_map = team_map[['FULLNAME', 'BBREFTEAM']]

                 FULLNAME BBREFTEAM
0    Arizona Diamondbacks       ARI
1          Atlanta Braves       ATL
2       Baltimore Orioles       BAL
3          Boston Red Sox       BOS
4            Chicago Cubs       CHC
5       Chicago White Sox       CHW
6         Cincinnati Reds       CIN
7     Cleveland Guardians       CLE
8        Colorado Rockies       COL
9          Detroit Tigers       DET
10         Houston Astros       HOU
11     Kansas City Royals       KCR
12     Los Angeles Angels       LAA
13    Los Angeles Dodgers       LAD
14          Miami Marlins       MIA
15      Milwaukee Brewers       MIL
16        Minnesota Twins       MIN
17          New York Mets       NYM
18       New York Yankees       NYY
19      Oakland Athletics       OAK
20  Philadelphia Phillies       PHI
21     Pittsburgh Pirates       PIT
22       San Diego Padres       SDP
23       Seattle Mariners       SEA
24   San Francisco Giants       SFG
25    St. Louis Cardinals       STL
26         Tampa Bay Rays       TBR
27          Texas Rangers       TEX
28      Toronto Blue Jays       TOR
29   Washington Nationals       WSN

In [35]:
def create_scores(start_date, end_date):
    games = statsapi.schedule(start_date=start_date, end_date=end_date)
    
    all_games = []
    for game in games:
        game_list = [game['game_id'], game['game_type'], game['away_name'], game['home_name'], game['away_score'], game['home_score'], game['game_date']]
        all_games.append(game_list)

    all_games_df = pd.DataFrame(all_games, columns=['game_id', 'game_type', 'away_name', 'home_name', 'away_score', 'home_score', 'game_date'])
    
    all_games_df = all_games_df.query('game_type == "R"')
    
    all_games_df = all_games_df.merge(team_map, left_on='away_name', right_on='FULLNAME', how='left')
    all_games_df = all_games_df.merge(team_map, left_on='home_name', right_on='FULLNAME', how='left')
    
    all_games_df.rename(columns={'BBREFTEAM_x':'away_team', 'BBREFTEAM_y':'home_team','game_date':'date'},inplace=True)
    all_games_df.drop(columns={'FULLNAME_x', 'FULLNAME_y', 'away_name', 'home_name'},inplace=True)
    
    all_games_df['date'] = all_games_df['date'].str.replace("-", "")

    
    return all_games_df

all_games_df = create_scores("04/02/2022", "04/04/2023")
all_games_df

      game_id game_type away_score home_score      date away_team home_team
0      663178         R          4          5  20220407       MIL       CHC
1      662766         R          1          3  20220407       CLE       KCR
2      662021         R          0          9  20220407       PIT       STL
3      662571         R          5          1  20220407       NYM       WSN
4      661577         R          6          3  20220407       CIN       ATL
...       ...       ...        ...        ...       ...       ...       ...
2524   718734         R          6          0  20230402       LAA       OAK
2525   718736         R          2          1  20230402       ARI       LAD
2526   718733         R          1          3  20230402       COL       SDP
2527   718735         R          6          5  20230402       CLE       SEA
2528   718739         R          1          2  20230402       PHI       TEX

[2529 rows x 7 columns]

In [36]:
all_games_df.to_csv(os.path.join(baseball_path, 'Scores', 'Scores.csv'))