# Dashboard

### Imports

In [44]:
%run "Imports.ipynb"

In [45]:
# Record start time
start_time = time.time()

In [47]:
%run "Utilities.ipynb"
%run "Classes.ipynb"
%run "simulation_functions_new.ipynb"

Code was last run on: 2023-09-15

In [48]:
# Delay
try:
    pause_code('2023-09-13T18:20:00')
except:
    pass

-172835.674845

In [49]:
# This reads in Chadwick register with player codes.
keep_list = ['key_mlbam', 'key_fangraphs', 'key_bbref_minors', 'key_bbref', 'name_first', 'name_last']
chadwick = read_chadwick(keep_list)

In [50]:
# This reads in a map of team name, codes, and the shorthand MLB uses in their URLs
team_map = pd.read_csv(os.path.join(baseball_path, "Utilities", "Team Map.csv"))

# We just need teams right now
team_map = team_map[['FULLNAME', 'BBREFTEAM', 'MLBURL', 'FANGRAPHSTEAM', 'VENUE_ID', 'SFBBTEAM', 'DKTEAM', 'ROTOWIRETEAM', 'FANPROSTEAM']]

In [51]:
crosswalk = pd.read_csv(os.path.join(baseball_path, "Utilities", "Player Crosswalk.csv"), encoding='iso-8859-1') 
crosswalk = crosswalk[['mlbamid', 'steamerid']]
crosswalk.rename(columns={'mlbamid':'mlbamid_fill'}, inplace=True)

In [52]:
# Read in history file        
history = pd.read_csv(os.path.join(baseball_path, "Utilities", "Contests.csv"))

# Sort by date, then draft group, then fee
history.sort_values(['date', 'draftGroupId', 'entryFee'], ascending=False)
# Keep only one observation per draft group 
history.drop_duplicates('draftGroupId', keep='first', inplace=True)

history_full = history.copy()
history = history.query('result == 1').query('payout == 1').query('salary == 1')


history = history.reset_index(drop=True)
history['date'] = history['date'].astype('int').astype('str')

### Import Contests

In [53]:
# Choose contests of interest
def daily_contests(date=todaysdate):
    df = pd.read_csv(os.path.join(baseball_path, "2. Contests", "A. Daily Contests", f"Contests {date}.csv"))
    
    # Create an empty list to store the results
    results = []

    # Iterate over the rows of the dataframe
    for index, row in df.iterrows():
        name = row["Name"]
        if "Four-Seamer" in name and "vs" not in name and "Turbo" not in name:
            contest_key = row["contestKey"]
            draft_group_id = row["draftGroupId"]
            contestTime = row['contestTime']
            results.append({"Name": name, "contestKey": contest_key, "draftGroupId": draft_group_id, "contestTime": contestTime})

    # Convert the results to a dataframe
    results_df = pd.DataFrame(results)

    return results_df

In [54]:
todays_contests = daily_contests(todaysdate)
todays_contests

,Name,contestKey,draftGroupId,contestTime
0,"MLB $15K Four-Seamer [$5K to 1st, 20 Entry Max]",150442869,92513,Fri 7:05PM
1,MLB $1K Four-Seamer (Night),150442949,92520,Fri 9:38PM

In [55]:
# Select contest to enter
contest = 0

# Contest info
Name = todays_contests['Name'][contest]
contestKey = todays_contests['contestKey'][contest]
draftGroupId = todays_contests['draftGroupId'][contest]
contestTime = todays_contests['contestTime'][contest]

print(Name, contestKey, draftGroupId, contestTime)

MLB $15K Four-Seamer [$5K to 1st, 20 Entry Max] 150442869 92513 Fri 7:05PM

### 5. Depth Charts

In [56]:
%run "05. Depth Charts.ipynb"

In [57]:
create_depth_charts(todaysdate, todaysdate)

### 6. Rosters

In [58]:
%run "06. Rosters.ipynb"

In [59]:
# List of games between dates
games = statsapi.schedule(start_date=todaysdate_slash, end_date=todaysdate_slash)
    
# Loop over games to create rosters
output = Parallel(n_jobs=-2, verbose=5)(delayed(create_rosters)(x=game, team_map=team_map) for game in games)

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 15 concurrent workers.
[Parallel(n_jobs=-2)]: Done   2 out of  15 | elapsed:   17.5s remaining:  1.9min
[Parallel(n_jobs=-2)]: Done   6 out of  15 | elapsed:   18.2s remaining:   27.3s
[Parallel(n_jobs=-2)]: Done  10 out of  15 | elapsed:   18.5s remaining:    9.2s
[Parallel(n_jobs=-2)]: Done  15 out of  15 | elapsed:   18.8s finished

### 7. Stats

In [60]:
%run "07. Stats.ipynb"

In [61]:
scrape_batters()
scrape_pitchers()

In [62]:
%%time
run_stats(date=todaysdate, historic=False)

CPU times: total: 1.72 s
Wall time: 45.7 s

### 8. Weather

In [63]:
%run "08. Weather.ipynb"

In [64]:
swish = scrape_swishanalytics(team_map)
roto = scrape_rotogrinders()
roto

,Tag,Tag2,Matchup,Description
0,GREEN,None,CIN@NYM,"- Temps in the upper 60s and winds blowing in from left at 10-15mph, pretty solid pitching weather."
1,GREEN,None,TEX@CLE,"- Another cool'ish game in the mid-60s. Winds here are closer to 5mph, but I just want to note that we're getting to the time of year when temps are dropping, and we can find some big ranges between our ""cold weather cities"" and our ""hot cities"". So make sure you scroll down and give the hourly forecast a look."
2,GREEN,None,SFG@COL,- Looks to me like all the rain stays west today in COL.

In [66]:
ballparkpal = scrape_ballparkpal(todaysdate_dash)

ConnectionError: HTTPSConnectionPool(host='ballparkpal.com', port=443): Max retries exceeded with url: /ParkFactors.php?date=2023-09-15 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001CB8C98CAC0>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))

### 9. Matchups

In [67]:
%run "09. Matchups.ipynb"

In [68]:
lineups, projected = scrape_lineups(team_map, date=todaysdate_dash, early=False)
print("Projected lineups : ", projected)

Missing:  Zack Thompson
Projected lineups :  ['LAA']

In [69]:
run_matchups(team_map, contestKey=contestKey, date=todaysdate, backtest=False, early=False, historic=False)

['WSN_MIL 09152023 0810PM ET', 'TEX_CLE 09152023 0710PM ET', 'BOS_TOR 09152023 0707PM ET', 'LAD_SEA 09152023 1010PM ET', 'TBR_BAL 09152023 0705PM ET', 'PHI_STL 09152023 0815PM ET', 'MIN_CHW 09152023 0740PM ET', 'CIN_NYM 09152023 0710PM ET', 'HOU_KCR 09152023 0810PM ET', 'CHC_ARI 09152023 0940PM ET', 'SDP_OAK 09152023 0940PM ET', 'DET_LAA 09152023 0938PM ET', 'SFG_COL 09152023 0840PM ET']
2023-09-15
Missing:  Zack Thompson
TBR_BAL 09152023 0705PM ET
BOS_TOR 09152023 0707PM ET
TEX_CLE 09152023 0710PM ET
CIN_NYM 09152023 0710PM ET
MIN_CHW 09152023 0740PM ET
WSN_MIL 09152023 0810PM ET
HOU_KCR 09152023 0810PM ET
PHI_STL 09152023 0815PM ET
SFG_COL 09152023 0840PM ET
DET_LAA 09152023 0938PM ET
Home number 9 was filled in.
CHC_ARI 09152023 0940PM ET
SDP_OAK 09152023 0940PM ET
LAD_SEA 09152023 1010PM ET

### 10. Sims

In [70]:
%run "10. Sims.ipynb"
# This reads in a map of team name, codes, and the shorthand MLB uses in their URLs
team_map = pd.read_csv(os.path.join(baseball_path, "Utilities", "Team Map.csv"))

# We just need teams right now
team_map = team_map[['FULLNAME', 'BBREFTEAM', 'MLBURL', 'FANGRAPHSTEAM', 'VENUE_ID', 'SFBBTEAM', 'DKTEAM', 'ROTOWIRETEAM', 'FANPROSTEAM']]

In [71]:
%%time
model_binary, model_outs, model_safe, pull, dp_rates, dp_base_rates, advances, late_list, broken_list = sim_imports()

run_sims(team_map=team_map, pull=pull, model_binary=model_binary, model_outs=model_outs, model_safe=model_safe, 
         dp_rates=dp_rates, dp_base_rates=dp_base_rates, advances=advances, broken_list=broken_list, 
         date=todaysdate, contestKey=contestKey, last_list=[], num_sims=1000, late=False, historic=False)

['TBR_BAL 09152023 0705PM ET.xlsx', 'BOS_TOR 09152023 0707PM ET.xlsx', 'CIN_NYM 09152023 0710PM ET.xlsx', 'TEX_CLE 09152023 0710PM ET.xlsx', 'MIN_CHW 09152023 0740PM ET.xlsx', 'HOU_KCR 09152023 0810PM ET.xlsx', 'WSN_MIL 09152023 0810PM ET.xlsx', 'PHI_STL 09152023 0815PM ET.xlsx', 'SFG_COL 09152023 0840PM ET.xlsx', 'DET_LAA 09152023 0938PM ET.xlsx', 'CHC_ARI 09152023 0940PM ET.xlsx', 'SDP_OAK 09152023 0940PM ET.xlsx', 'LAD_SEA 09152023 1010PM ET.xlsx']
TBR_BAL 09152023 0705PM ET.xlsx
Home Win Rate: 0.505
Mean Away Score: 4.503
Mean Home Score: 4.349
Mean Total: 8.852
Median Total: 8.0

BOS_TOR 09152023 0707PM ET.xlsx
Home Win Rate: 0.493
Mean Away Score: 4.74
Mean Home Score: 4.424
Mean Total: 9.164
Median Total: 9.0

CIN_NYM 09152023 0710PM ET.xlsx
Home Win Rate: 0.529
Mean Away Score: 3.755
Mean Home Score: 3.882
Mean Total: 7.637
Median Total: 7.0

TEX_CLE 09152023 0710PM ET.xlsx
Home Win Rate: 0.551
Mean Away Score: 4.381
Mean Home Score: 4.807
Mean Total: 9.188
Median Total: 9.0

MIN_CHW 09152023 0740PM ET.xlsx
Home Win Rate: 0.592
Mean Away Score: 4.218
Mean Home Score: 5.132
Mean Total: 9.35
Median Total: 9.0

HOU_KCR 09152023 0810PM ET.xlsx
Home Win Rate: 0.539
Mean Away Score: 4.8
Mean Home Score: 4.986
Mean Total: 9.786
Median Total: 9.0

WSN_MIL 09152023 0810PM ET.xlsx
Home Win Rate: 0.501
Mean Away Score: 4.589
Mean Home Score: 4.261
Mean Total: 8.85
Median Total: 8.0

PHI_STL 09152023 0815PM ET.xlsx
Home Win Rate: 0.555
Mean Away Score: 4.023
Mean Home Score: 4.252
Mean Total: 8.275
Median Total: 8.0

SFG_COL 09152023 0840PM ET.xlsx
Home Win Rate: 0.508
Mean Away Score: 5.744
Mean Home Score: 5.453
Mean Total: 11.197
Median Total: 11.0

DET_LAA 09152023 0938PM ET.xlsx
Home Win Rate: 0.557
Mean Away Score: 3.394
Mean Home Score: 3.625
Mean Total: 7.019
Median Total: 6.0

CHC_ARI 09152023 0940PM ET.xlsx
Home Win Rate: 0.479
Mean Away Score: 4.67
Mean Home Score: 4.258
Mean Total: 8.928
Median Total: 9.0

SDP_OAK 09152023 0940PM ET.xlsx
Home Win Rate: 0.495
Mean Away Score: 4.06
Mean Home Score: 3.917
Mean Total: 7.977
Median Total: 7.0

LAD_SEA 09152023 1010PM ET.xlsx
Home Win Rate: 0.509
Mean Away Score: 4.345
Mean Home Score: 4.346
Mean Total: 8.691
Median Total: 8.0

CPU times: total: 2min 42s
Wall time: 6min 39s

### 11. Projections

In [72]:
%run "11. Projections.ipynb"

### Gambling

In [73]:
gamble = daily_gamble(todaysdate, team_map)

20230915

### Daily

In [74]:
slate = pick_slate(Name)
slate

'All'

#### RotoWire

In [75]:
# Read in slates
roto_slates = pd.read_csv(os.path.join(baseball_path, "11. Projections", "RotoWire", "A. Slates", f"Slates {todaysdate}.csv"))

# List of slates to keep
slates_to_keep = ["All", "Early", "Afternoon", "Night", "Late Night"]
roto_slates = roto_slates[roto_slates['name'].isin(slates_to_keep)]

# Scrape projections
for slateID in roto_slates['slateID']:
    rotowire_points = roto_projections(slateID)

In [76]:
# Choose index for current slate
roto_index = roto_slates[roto_slates['name'] == slate].index[0]
# Identify code
roto_slate = roto_slates.loc[roto_index, 'slateID']

# Read in projections
roto_projections = pd.read_csv(os.path.join(baseball_path, "11. Projections", "RotoWire", "B. Projections", f"Slate {roto_slate}.csv"), encoding='iso-8859-1')
roto_projections.head()

,rwID,slateID,firstName,lastName,rotoPos,position,throws,bats,isPitcher,isBatter,teamAbbr,teamCity,teamNickname,gameDateTime,gameIsDome,salary,points,rostership
0,14783,10864,Griffin,Canning,P,P,R,R,True,False,LAA,Los Angeles,Angels,2023-09-15 21:38:00,False,8200,17.55,7.63
1,14763,4979,Hunter,Greene,P,P,R,R,True,False,CIN,Cincinnati,Reds,2023-09-15 19:10:00,False,9100,16.79,11.18
2,16006,4374,Tarik,Skubal,P,P,L,L,True,False,DET,Detroit,Tigers,2023-09-15 21:38:00,False,9000,16.65,12.60
3,16018,4402,Bailey,Ober,P,P,R,R,True,False,MIN,Minnesota,Twins,2023-09-15 19:40:00,False,8500,16.39,10.72
4,16694,5105,Bobby,Miller,P,P,R,L,True,False,LAD,Los Angeles,Dodgers,2023-09-15 22:10:00,False,8400,16.27,8.69

#### DFF

In [77]:
# Read in slates
dff_slates = pd.read_csv(os.path.join(baseball_path, "11. Projections", "DFF", "A. Slates", f"Slates {todaysdate}.csv"))

# Scrape projections
for code in dff_slates['URL']:
    dff_projections(code)

In [78]:
# Choose index for current slate
dff_index = dff_slates[dff_slates['Slate Type'] == slate].index[0]
# Identify code
dff_slate = dff_slates.loc[dff_index, 'URL']

# Read in projections
dff_projections = pd.read_csv(os.path.join(baseball_path, "11. Projections", "DFF", "B. Projections", f"Slate {dff_slate}.csv"), encoding='iso-8859-1')
dff_projections.head()

,Sport,Team,Location,Opponent,First Name,Last Name,Position Detailed,Position Code,Hand,Player ID,Salary,PPG,Value,Opp Rank,Depth Rank,Starter Flag,Team Spread,Projected Team Score,Probable Flag,FP
0,MLB,DET,@,LAA,Tarik,Skubal,SP,P,L,101C1F,9000,19.0,2.11,0,0,1,-1.5,3.9,1,18.990
1,MLB,SD,@,OAK,Seth,Lugo,RP,P,R,92692,8600,17.9,2.08,0,0,1,-1.5,5.0,1,17.888
2,MLB,LAA,vs,DET,Griffin,Canning,SP,P,R,CA96F,8200,17.6,2.15,0,0,1,1.5,3.6,1,17.630
3,MLB,CIN,@,NYM,Hunter,Greene,SP,P,R,1018F4,9100,16.9,1.86,0,0,1,1.5,3.7,1,16.926
4,MLB,TB,@,BAL,Zach,Eflin,SP,P,R,A09BD,9300,16.8,1.81,0,0,1,-1.5,4.6,1,16.833

### B1. Evaluate Scores

In [79]:
run "B1. Evaluate Scores.ipynb"

In [80]:
gambling = gambling_dashboard(team_map, start_date=todaysdate, end_date=todaysdate)
gambling

,date,away_team,home_team,Away,Home,away_score,home_score,AwayWin%,HomeWin%,AwayWin$Exp,HomeWin$Exp,AwayWin$Act,HomeWin$Act
0,20230915,BOS,TOR,4.740,4.424,0,0,0.503,0.497,110.660000,83.975862,0.0,0.0
1,20230915,CHC,ARI,4.670,4.258,0,0,0.518,0.482,88.278873,106.040000,0.0,0.0
2,20230915,CIN,NYM,3.755,3.882,0,0,0.463,0.537,90.395238,100.395652,0.0,0.0
3,20230915,DET,LAA,3.394,3.625,0,0,0.436,0.564,79.047154,114.492000,0.0,0.0
4,20230915,HOU,KCR,4.800,4.986,0,0,0.457,0.543,69.752632,140.637000,0.0,0.0
5,20230915,LAD,SEA,4.345,4.346,0,0,0.487,0.513,92.972727,97.936364,0.0,0.0
6,20230915,MIN,CHW,4.218,5.132,0,0,0.405,0.595,63.252809,147.560000,0.0,0.0
7,20230915,PHI,STL,4.023,4.252,0,0,0.444,0.556,75.020690,122.320000,0.0,0.0
8,20230915,SDP,OAK,4.060,3.917,0,0,0.501,0.499,74.539024,135.229000,0.0,0.0
9,20230915,SFG,COL,5.744,5.453,0,0,0.492,0.508,71.066667,144.780000,0.0,0.0
10,20230915,TBR,BAL,4.503,4.349,0,0,0.488,0.512,86.338462,107.520000,0.0,0.0
11,20230915,TEX,CLE,4.381,4.807,0,0,0.447,0.553,81.950000,110.600000,0.0,0.0
12,20230915,WSN,MIL,4.589,4.261,0,0,0.493,0.507,129.166000,76.567347,0.0,0.0

### B2. Evaluate Projections

In [81]:
run "B2. Evaluate Projections.ipynb"

In [82]:
projections_df = merge_projections(contestKey)
daily = evaluate_projections_pre(projections_df)

RotoWire Didn't Merge:
Series([], Name: Name, dtype: object)
DFF Didn't Merge:
258    David Fletcher
Name: Name, dtype: object
I'm lower than DFF on:
                Name  Projection_Me  Projection_DFF
24         Seth Lugo        10.8326          17.888
100   Fernando Tatis         7.8490          12.312
21        Logan Webb        11.9814          16.168
18      Bobby Miller        12.7597          16.296
53    Thairo Estrada         8.7810          12.000
43       Royce Lewis         9.1540          12.299
23   Cristian Javier        11.7641          14.773
124   Cody Bellinger         7.5560          10.496
65       Jose Altuve         8.4800          10.912
25    Yordan Alvarez        10.3870          12.810
I'm higher than DFF on:
                Name  Projection_Me  Projection_DFF
11      Sean Newcomb       14.50960           4.290
16      Zack Greinke       12.92410           6.700
191    David Peralta        6.66700           0.990
172    Mike Tauchman        6.98300           1.404
2     David Peterson       17.30900          12.672
246     Chad Wallach        5.60400           1.008
14   Jesse Scholtens       13.47710           9.519
37         CJ Abrams        9.31600           6.076
26    Chase Anderson       10.27135           7.100
50        Elias Diaz        8.83800           5.896
I'm lower than RotoWire on:
               Name  Projection_Me  Projection_Roto  ownership
100  Fernando Tatis        7.84900            12.98       2.03
24        Seth Lugo       10.83260            15.74      10.60
21       Logan Webb       11.98140            16.09       8.97
187    Ha-Seong Kim        6.75600            10.83       4.67
216       TJ Friedl        6.29700            10.04       1.83
18     Bobby Miller       12.75970            16.27       8.69
53   Thairo Estrada        8.78100            12.09       8.49
15      Bailey Ober       13.27245            16.39      10.72
228  Harrison Bader        6.12100             9.03       1.25
79        Juan Soto        8.15100            10.97       6.76
I'm higher than RotoWire on:
                Name  Projection_Me  Projection_Roto  ownership
11      Sean Newcomb       14.50960             5.08       1.34
16      Zack Greinke       12.92410             6.74       1.94
2     David Peterson       17.30900            12.22       6.57
191    David Peralta        6.66700             2.05       1.14
14   Jesse Scholtens       13.47710             9.83       3.01
246     Chad Wallach        5.60400             2.04       0.06
29      Ryan McMahon        9.70200             6.32       1.91
37         CJ Abrams        9.31600             6.07       0.95
50        Elias Diaz        8.83800             5.63       1.61
26    Chase Anderson       10.27135             7.08       1.82

### 12. Lineups

In [83]:
%run "12. Lineups.ipynb"

In [84]:
%%time
exclude_teams = projected
exclude_players = []

run_lineups(lineups=200, draftGroupId=draftGroupId, contestKey=contestKey, pitcher_max=1, batter_max=1, min1=6.5, min2=0, 
            exclude_teams=exclude_teams, exclude_players=exclude_players, historic=False)

 1. P       David Peterson                SP    NYM            CIN@NYM  17.309         6600.0$
 2. P       Tarik Skubal                  SP    DET            DET@LAA  18.089         9000.0$
 3. C       Elias Diaz(6)                 C     COL            SF@COL   8.838          4400.0$
 4. 1B      Elehuris Montero(4)           1B    COL            SF@COL   9.101          3600.0$
 5. 2B      Edouard Julien(1)             2B    MIN            MIN@CWS  8.552          3700.0$
 6. 3B      Ryan McMahon(5)               3B    COL            SF@COL   9.702          5100.0$
 7. SS      Ezequiel Tovar(7)             SS    COL            SF@COL   8.971          4600.0$
 8. OF      Max Kepler(4)                 OF    MIN            MIN@CWS  9.552          3800.0$
 9. OF      MJ Melendez(1)                OF    KC             HOU@KC   9.308          3400.0$
10. OF      Kris Bryant(2)                1B/OF COL            SF@COL   9.341          4900.0$

Fantasy Points 108.76
Salary 49100.00

1
 1. P       David Peterson                SP    NYM            CIN@NYM  17.309         6600.0$
 2. P       Tarik Skubal                  SP    DET            DET@LAA  18.089         9000.0$
 3. C       Elias Diaz(6)                 C     COL            SF@COL   8.838          4400.0$
 4. 1B      Elehuris Montero(4)           1B    COL            SF@COL   9.101          3600.0$
 5. 2B      Edouard Julien(1)             2B    MIN            MIN@CWS  8.552          3700.0$
 6. 3B      Ryan McMahon(5)               3B    COL            SF@COL   9.702          5100.0$
 7. SS      Ezequiel Tovar(7)             SS    COL            SF@COL   8.971          4600.0$
 8. OF      Max Kepler(4)                 OF    MIN            MIN@CWS  9.552          3800.0$
 9. OF      MJ Melendez(1)                OF    KC             HOU@KC   9.308          3400.0$
10. OF      Nolan Jones(3)                OF    COL            SF@COL   9.323          5000.0$

Fantasy Points 108.75
Salary 49200.00

 1. P       David Peterson                SP    NYM            CIN@NYM  17.309         6600.0$
 2. P       Tarik Skubal                  SP    DET            DET@LAA  18.089         9000.0$
 3. C       Elias Diaz(6)                 C     COL            SF@COL   8.838          4400.0$
 4. 1B      Elehuris Montero(4)           1B    COL            SF@COL   9.101          3600.0$
 5. 2B      Edouard Julien(1)             2B    MIN            MIN@CWS  8.552          3700.0$
 6. 3B      Ryan McMahon(5)               3B    COL            SF@COL   9.702          5100.0$
 7. SS      Ezequiel Tovar(7)             SS    COL            SF@COL   8.971          4600.0$
 8. OF      Max Kepler(4)                 OF    MIN            MIN@CWS  9.552          3800.0$
 9. OF      Kris Bryant(2)                1B/OF COL            SF@COL   9.341          4900.0$
10. OF      Mitch Haniger(6)              OF    SF             SF@COL   9.189          4300.0$

Fantasy Points 108.64
Salary 50000.00

 1. P       David Peterson                SP    NYM            CIN@NYM  17.309         6600.0$
 2. P       Tarik Skubal                  SP    DET            DET@LAA  18.089         9000.0$
 3. C       Elias Diaz(6)                 C     COL            SF@COL   8.838          4400.0$
 4. 1B      Elehuris Montero(4)           1B    COL            SF@COL   9.101          3600.0$
 5. 2B      Brendan Rodgers(8)            2B    COL            SF@COL   7.9            3900.0$
 6. 3B      Ryan McMahon(5)               3B    COL            SF@COL   9.702          5100.0$
 7. SS      Ezequiel Tovar(7)             SS    COL            SF@COL   8.971          4600.0$
 8. OF      Max Kepler(4)                 OF    MIN            MIN@CWS  9.552          3800.0$
 9. OF      Mike Yastrzemski(1)           OF    SF             SF@COL   9.841          4400.0$
10. OF      Mitch Haniger(6)              OF    SF             SF@COL   9.189          4300.0$

Fantasy Points 108.49
Salary 49700.00

 1. P       David Peterson                SP    NYM            CIN@NYM  17.309         6600.0$
 2. P       Tarik Skubal                  SP    DET            DET@LAA  18.089         9000.0$
 3. C       Elias Diaz(6)                 C     COL            SF@COL   8.838          4400.0$
 4. 1B      Elehuris Montero(4)           1B    COL            SF@COL   9.101          3600.0$
 5. 2B      Edouard Julien(1)             2B    MIN            MIN@CWS  8.552          3700.0$
 6. 3B      Ryan McMahon(5)               3B    COL            SF@COL   9.702          5100.0$
 7. SS      Carlos Correa(5)              SS    MIN            MIN@CWS  8.547          4000.0$
 8. OF      Max Kepler(4)                 OF    MIN            MIN@CWS  9.552          3800.0$
 9. OF      Charlie Blackmon(1)           OF    COL            SF@COL   9.411          4800.0$
10. OF      Kris Bryant(2)                1B/OF COL            SF@COL   9.341          4900.0$

Fantasy Points 108.44
Salary 49900.00

25
50
75
99
100
125
150
175
199
Top Teams
  NYM - 200
  COL - 197
  DET - 194
  MIN - 131
  KC - 95
  SF - 83
  ARI - 18
  WAS - 15
  TB - 11
  HOU - 9
  MIL - 9
  BAL - 5
  CIN - 4
  OAK - 3
  CWS - 3
  SEA - 2
  TEX - 2
  CHC - 1
  SD - 1
  TOR - 1
Used 20/26

Top Players
  David Peterson - 200
  Tarik Skubal - 194
  Elias Diaz - 178
  Elehuris Montero - 168
  Ryan McMahon - 168
  Nolan Jones - 112
  Ezequiel Tovar - 110
  Kris Bryant - 100
  Edouard Julien - 79
  Max Kepler - 78
  MJ Melendez - 64
  Mike Yastrzemski - 56
  Charlie Blackmon - 52
  Brendan Rodgers - 45
  Matt Wallner - 43
  Michael Massey - 43
  Carlos Correa - 40
  Mitch Haniger - 25
  Nelson Velazquez - 23
  Brandon Crawford - 20
  Thairo Estrada - 18
  J.D. Davis - 18
  Michael Conforto - 17
  Edward Olivares - 17
  CJ Abrams - 13
  Royce Lewis - 13
  Ryan Jeffers - 12
  Tommy Pham - 11
  Brandon Lowe - 9
  Yordan Alvarez - 8
  LaMonte Wade Jr. - 8
  Willy Adames - 8
  Ketel Marte - 6
  Gunnar Henderson - 5
  Keibert Ruiz - 4
  Hunter Greene - 4
  Alex Kirilloff - 3
  Brenton Doyle - 2
  Josh Lowe - 2
  George Kirby - 2
  Bobby Witt Jr. - 2
  Willi Castro - 2
  Mitch Garver - 2
  Lourdes Gurriel Jr. - 2
  Tim Anderson - 2
  Shea Langeliers - 1
  William Contreras - 1
  Seth Brown - 1
  Luis Robert Jr. - 1
  Patrick Bailey - 1
  Brent Rooker - 1
  Seiya Suzuki - 1
  Manny Machado - 1
  Kyle Tucker - 1
  Salvador Perez - 1
  Mark Canha - 1
  Cavan Biggio - 1
Used 57/720

Top Players Per Team
  COL(935) - Elias Diaz(178),Elehuris Montero(168),Ryan McMahon(168),Nolan Jones(112),Ezequiel Tovar(110),Kris Bryant(100),Charlie Blackmon(52),Brendan Rodgers(45),Brenton Doyle(2)
  MIN(270) - Edouard Julien(79),Max Kepler(78),Matt Wallner(43),Carlos Correa(40),Royce Lewis(13),Ryan Jeffers(12),Alex Kirilloff(3),Willi Castro(2)
  NYM(200) - David Peterson(200)
  DET(194) - Tarik Skubal(194)
  SF(163) - Mike Yastrzemski(56),Mitch Haniger(25),Brandon Crawford(20),Thairo Estrada(18),J.D. Davis(18),Michael Conforto(17),LaMonte Wade Jr.(8),Patrick Bailey(1)
  KC(150) - MJ Melendez(64),Michael Massey(43),Nelson Velazquez(23),Edward Olivares(17),Bobby Witt Jr.(2),Salvador Perez(1)
  ARI(19) - Tommy Pham(11),Ketel Marte(6),Lourdes Gurriel Jr.(2)
  WAS(17) - CJ Abrams(13),Keibert Ruiz(4)
  TB(11) - Brandon Lowe(9),Josh Lowe(2)
  MIL(10) - Willy Adames(8),William Contreras(1),Mark Canha(1)
  HOU(9) - Yordan Alvarez(8),Kyle Tucker(1)
  BAL(5) - Gunnar Henderson(5)
  CIN(4) - Hunter Greene(4)
  CWS(3) - Tim Anderson(2),Luis Robert Jr.(1)
  OAK(3) - Shea Langeliers(1),Seth Brown(1),Brent Rooker(1)
  SEA(2) - George Kirby(2)
  TEX(2) - Mitch Garver(2)
  CHC(1) - Seiya Suzuki(1)
  SD(1) - Manny Machado(1)
  TOR(1) - Cavan Biggio(1)
None
AvgPointsPerGame
Sim STD
Plus1
Plus2
Plus3
Plus4
Plus5
Tail
Rarity
Batter
Pitcher
Choose
Choose2
CPU times: total: 44.2 s
Wall time: 13min 32s

In [85]:
contestKey

150442869

In [86]:
# Order lineups
choose_lineups(1000, todaysdate, contestKey)

# Create upload file (contains all lineups)
create_upload_file(contestKey)
# Create entry file (contains one lineup per entry)
create_entry_file(draftGroupId, contestKey)

# Print links
print("Lineups: https://www.draftkings.com/lineup/upload")
print("Entries: https://www.draftkings.com/entry/upload")

# Email upload and entry files
email_upload_file(todaysdate, contestKey)

AvgPointsPerGame
Sim STD
Plus1
Plus2
Plus3
Plus4
Plus5
Tail
Rarity
Batter
Pitcher
Choose
Choose2

DKEntries - 2023-09-15T185446.380.csv
       Entry ID                                    Contest Name   Contest ID  \
0  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
1  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
2  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
3  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
4  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
5  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
6  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
7  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
8  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0
9  3.908235e+09  MLB $15K Four-Seamer [$5K to 1st 20 Entry Max]  150442869.0

  Entry Fee
0        $4
1        $4
2        $4
3        $4
4        $4
5        $4
6        $4
7        $4
8        $4
9        $4
Lineups: https://www.draftkings.com/lineup/upload
Entries: https://www.draftkings.com/entry/upload

In [87]:
upload_entries(contestKey)

In [88]:
# Record end time
end_time = time.time()

# Calculate and print the total execution time
total_time = end_time - start_time
total_time = total_time / 60
print(f"Total execution time: {total_time:.2f} minutes")

Total execution time: 34.91 minutes

# To do:
    1. New Models
    2. Late-swap (pydfs should do most of the heavy lifting)
    3. In-game updates (offseason)
    4. Scrape new contests ($15, double-ups) 
    5. Switch from contest to groupid? (offseason)
    6. Can we replace Chadwick with New Crosswalk?
        If not, we need to archive it, unfortunately, because it regularly doesn't work, doesn't work offline