In [1]:
import numpy as np
import pandas as pd
import os
import xlrd
import unidecode
import datetime
from datetime import date
from pathlib import Path
import os
import glob

from distutils.dir_util import copy_tree

baseball_path = r"C:\Users\james\Documents\MLB\Data"
download_path = r"C:\Users\james\Downloads"

In [3]:
todaysdate = date.today()
todaysdate_dash = str(todaysdate)
todaysdate = todaysdate_dash.replace("-", "")

# todaysdate = "20221008"
print(todaysdate)

20221121

In [4]:
# This reads in a map of team name, codes, and the number Fangraphs uses in their URLs
team_map = pd.read_csv(os.path.join(baseball_path, "Utilities", "Team Map.csv"))

# We just need teams right now
team_map = team_map[['DKTEAM', 'BBREFTEAM', 'SFBBTEAM']]
team_map

   DKTEAM BBREFTEAM SFBBTEAM
0     ARI       ARI      ARI
1     ATL       ATL      ATL
2     BAL       BAL      BAL
3     BOS       BOS      BOS
4     CHC       CHC      CHC
5     CWS       CHW      CHW
6     CIN       CIN      CIN
7     CLE       CLE      CLE
8     COL       COL      COL
9     DET       DET      DET
10    HOU       HOU      HOU
11     KC       KCR       KC
12    LAA       LAA      LAA
13    LAD       LAD      LAD
14    MIA       MIA      MIA
15    MIL       MIL      MIL
16    MIN       MIN      MIN
17    NYM       NYM      NYM
18    NYY       NYY      NYY
19    OAK       OAK      OAK
20    PHI       PHI      PHI
21    PIT       PIT      PIT
22     SD       SDP       SD
23    SEA       SEA      SEA
24     SF       SFG       SF
25    STL       STL      STL
26     TB       TBR       TB
27    TEX       TEX      TEX
28    TOR       TOR      TOR
29    WAS       WSN      WAS

In [ ]:
def save_dk(date=todaysdate):
    # Find all DK downloads
    dk_files = glob.glob(os.path.join(download_path, 'DKSalaries*.csv'))
    dk_files.sort(key=os.path.getmtime)

    latest = dk_files[-1]

    print(latest)

    dk_name = "DKSalaries_" + date + ".csv"
    
    # Clean DK salaries for merge
    dk_salaries = pd.read_csv(os.path.join(download_path, latest))
    dk_salaries.to_csv(os.path.join(baseball_path, "Salaries", dk_name))

In [ ]:
# save_dk()

In [6]:
def clean_dk(date=todaysdate):
    # Identify filepath
    dk_name = "DKSalaries_" + date + ".csv"
    
    # Read in DK salaries CSV
    dk_salaries = pd.read_csv(os.path.join(baseball_path, "Salaries", dk_name))
    
    # Clean Game Info 
    dk_salaries['Game Info'] = dk_salaries['Game Info'].replace({"CWS":"CHW", "KC": "KCR", "SD": "SDP", "SF":"SFG", "TB":"TBR", "WAS":"WSN", "@": "_", ":": "", "/": ""}, regex=True)
    dk_salaries = dk_salaries.merge(team_map, left_on='TeamAbbrev', right_on='DKTEAM', how='left')

    # Convert to Baseball Reference team code
    dk_salaries['TeamAbbrev'] = dk_salaries['BBREFTEAM']

    # Change Ohtani's number
    dk_salaries['ID'] = np.where((dk_salaries['Name'] == "Shohei Ohtani"), 134045, dk_salaries['ID'])

    # Clean names
    dk_salaries = name_clean(dk_salaries)

    # This is all we need to merge. 
    dk_salaries_cut = dk_salaries[['First2', 'Last5', 'TeamAbbrev', 'Salary', 'ID']]

    # We also want a separate game info df with teams, time, who's home, date
    game_info = dk_salaries[['Game Info']]

    return dk_salaries_cut, game_info

dk_salaries_cut, game_info = clean_dk("20220930")
dk_salaries_cut

KeyError: "['First2', 'Last5'] not in index"

In [ ]:
dk_salaries['Game Info'] = dk_salaries['Game Info'].replace({"CWS":"CHW", "KC": "KCR", "SD": "SDP", "SF":"SFG", "TB":"TBR", "WAS":"WSN", "@": "_", ":": "", "/": ""}, regex=True)
dk_salaries = dk_salaries.merge(team_map, left_on='TeamAbbrev', right_on='DKTEAM', how='left')

# Convert to Baseball Reference team code
dk_salaries['TeamAbbrev'] = dk_salaries['BBREFTEAM']

# Change Ohtani's number
dk_salaries['ID'] = np.where((dk_salaries['Name'] == "Shohei Ohtani"), 134045, dk_salaries['ID'])
         
# Clean names
dk_salaries = name_clean(dk_salaries)

# This is all we need to merge. 
dk_salaries_cut = dk_salaries[['First2', 'Last5', 'TeamAbbrev', 'Salary', 'ID']]


# We also want a separate game info df with teams, time, who's home, date
game_info = dk_salaries[['Game Info']]

del dk_salaries