In [1]:
%reset -f
import random
import numpy as np
import pandas as pd
import os
import xlrd
import import_ipynb
import math
import glob
from interruptingcow import timeout
# import warnings
# warnings.simplefilter(action="ignore")
import datetime
from datetime import date
import time 
import pickle
from New_Classes import *
from simulation_functions8 import *
from multiprocess import Pool, dummy, freeze_support, get_context
# from multiprocessing import Pool, dummy, freeze_support
from functools import partial
from joblib import Parallel, delayed

importing Jupyter notebook from New_Classes.ipynb
Code was last run on: 2022-10-28

In [2]:
# Date and Files
todaysdate = date.today()
todaysdate = str(todaysdate)
todaysdate = todaysdate.replace("-", "")

# 20220917 is the first date for which current NN model works, 20220920 is weird because two slates
todaysdate = "20220930"

matchup_folder = "Matchups" + todaysdate

baseball_path = r"C:\Users\james\Documents\MLB\Data"
matchup_path = os.path.join(baseball_path, "Matchups Archive", matchup_folder)
download_path = r"C:\Users\james\Downloads"
print(matchup_path)

C:\Users\james\Documents\MLB\Data\Matchups Archive\Matchups20220930

In [3]:
# Settings
# Number of Simulations
num_sims = 10
# Run just the late list
late = False

In [4]:
# Lists
# If you just want to run certain matchups
late_list = ['ATL_PHI 10142022 0437PM ET.xlsx']

# List of openers
opener_list = ['Yonny Chirinos', 'Mauricio Llovera', 'Jesse Chavez', 'Matt Bush', 'Gabe Speier', 'Bryan Baker',
               'Dillon Peters', 'Wil Crowe', 'Jalen Beeks', 'Davis Martin', 'Chi Chi Gonzalez', 'Tommy Henry', 
               'Trevor Richards', 'Bryse Wilson', 'Steven Wilson', 'Brusdar Graterol']

In [5]:
# Load in neural network stat model
filename = "nn_pa_200200200r.sav"          
pred = pickle.load(open(filename, 'rb'))

In [6]:
# Team Map
team_map = pd.read_csv(os.path.join(baseball_path, "Utilities", "Team Map.csv"))[['BBREFTEAM', 'FANGRAPHSTEAM', 'VENUE_ID']]
team_map = team_map.set_index('BBREFTEAM')

In [7]:
# Read in daily weather
filename = "Daily_Weather_" + todaysdate + ".xlsx"
weather_df = pd.read_excel(os.path.join(baseball_path, "Daily Weather", filename))
# Set venue id as index
weather_df = weather_df.set_index('VENUE_ID')

In [8]:
# Read in double play odds 
dp_rates = pd.read_csv(os.path.join(baseball_path, "Statcast Data", "double_play_rates.csv"))
dp_rates.set_index(["runner_1b", "runner_2b", "runner_3b"], inplace=True)

# Read in double play base of outs odds
dp_base_rates = pd.read_csv(os.path.join(baseball_path, "Statcast Data", "double_play_base_rates.csv"))
dp_base_rates.set_index(["runner_1b", "runner_2b", "runner_3b"], inplace=True)

In [9]:
# Read in base path advances 
advances = pd.read_csv(os.path.join(baseball_path, "Statcast Data", "advance_rates.csv"))
advances = advances.set_index("dp").to_dict()

In [10]:
filename = "nn_pull.sav"

# Load in model
pull = pickle.load(open(filename, 'rb'))

In [11]:
# Should move this out of this code and keep it as only functions
# Load in today's DK salaries
dk_name = "DKSalaries_" + todaysdate + ".csv"

# Clean DK salaries for merge
DKSalaries = pd.read_csv(os.path.join(baseball_path, "Salaries", dk_name))

# Change Ohtani's code. He won't match otherwise.
DKSalaries['ID'] = np.where(DKSalaries['Name'] == "Shohei Ohtani", 134045, DKSalaries['ID'])

# This creates the folder where game sims will end up 
directory = "Matchups" + todaysdate

matchup_list = os.listdir(matchup_path)  
try:
    os.mkdir(os.path.join(baseball_path, "Player Sims", directory))
except:
    pass

print(directory)

Matchups20220930

In [12]:
# Choose late list if selected
if late == True:
    matchup_list = late_list
else:
    pass

In [13]:
# matchup_list = ['NYM_ATL 09302022 0720PM ET.xlsx']

for matchup in matchup_list:
    print(matchup)
    all_sims_list = []
    all_scores_list = []
    game_template = create_game(matchup, matchup_path, team_map, weather_df)
    for sims in range(num_sims):
        sim = sim_matchup(matchup=matchup, matchup_path=matchup_path, team_map=team_map, weather_df=weather_df, pull=pull, pred=pred, 
                                dp_rates=dp_rates, dp_base_rates=dp_base_rates, advances=advances, opener_list=opener_list, 
                                all_scores_list=all_scores_list, game_template=game_template)
        
        all_sims_list.append(sim)
        # try:
        #     all_sims = all_sims.merge(sim, on='ID', how='inner')
        # except:
        #     all_sims = sim.copy()
            
    df = pd.concat(all_sims_list, axis=1)
# all_sims.query('Name == "Jacob deGrom"')
df
# df.query('Name == "Jacob deGrom"')
# df.query('

ARI_SFG 09302022 1015PM ET.xlsx
                Name        ID  order    FP
0     Tommy LaStella     12371    NaN   0.0
1      Merrill Kelly  24422327    NaN  22.0
2          Alex Cobb  24422330    NaN  10.0
3       Joc Pederson  24422376    1.0  14.0
4     Thairo Estrada  24422442    2.0   7.0
..               ...       ...    ...   ...
67    J.B. Bukauskas  24424189    NaN   0.0
68   Scott Alexander  24424293    NaN   3.5
69       Edwin Uceta  24424318    NaN   0.0
70       Kyle Nelson  24424326    NaN   0.0
71  Mauricio Llovera  24424331    NaN   0.0

[72 rows x 4 columns]
                Name        ID  order    FP
0     Tommy LaStella     12371    NaN   0.0
1      Merrill Kelly  24422327    NaN   9.1
2          Alex Cobb  24422330    NaN  37.3
3       Joc Pederson  24422376    1.0   7.0
4     Thairo Estrada  24422442    2.0   0.0
..               ...       ...    ...   ...
67    J.B. Bukauskas  24424189    NaN   0.0
68   Scott Alexander  24424293    NaN   0.0
69       Edwin Uceta  24424318    NaN   0.0
70       Kyle Nelson  24424326    NaN   0.0
71  Mauricio Llovera  24424331    NaN   0.0

[72 rows x 4 columns]
                Name        ID  order    FP
0     Tommy LaStella     12371    NaN  0.00
1      Merrill Kelly  24422327    NaN  7.95
2          Alex Cobb  24422330    NaN  6.70
3       Joc Pederson  24422376    1.0  5.00
4     Thairo Estrada  24422442    2.0  7.00
..               ...       ...    ...   ...
67    J.B. Bukauskas  24424189    NaN  0.00
68   Scott Alexander  24424293    NaN -0.60
69       Edwin Uceta  24424318    NaN  0.00
70       Kyle Nelson  24424326    NaN  0.00
71  Mauricio Llovera  24424331    NaN  0.00

[72 rows x 4 columns]
                Name        ID  order     FP
0     Tommy LaStella     12371    NaN   0.00
1      Merrill Kelly  24422327    NaN  12.95
2          Alex Cobb  24422330    NaN  13.20
3       Joc Pederson  24422376    1.0   5.00
4     Thairo Estrada  24422442    2.0  15.00
..               ...       ...    ...    ...
67    J.B. Bukauskas  24424189    NaN   0.00
68   Scott Alexander  24424293    NaN   6.25
69       Edwin Uceta  24424318    NaN   0.00
70       Kyle Nelson  24424326    NaN   0.00
71  Mauricio Llovera  24424331    NaN   0.00

[72 rows x 4 columns]
                Name        ID  order    FP
0     Tommy LaStella     12371    NaN   0.0
1      Merrill Kelly  24422327    NaN  11.8
2          Alex Cobb  24422330    NaN  28.9
3       Joc Pederson  24422376    1.0   4.0
4     Thairo Estrada  24422442    2.0  11.0
..               ...       ...    ...   ...
67    J.B. Bukauskas  24424189    NaN   0.0
68   Scott Alexander  24424293    NaN   0.3
69       Edwin Uceta  24424318    NaN  -0.6
70       Kyle Nelson  24424326    NaN   0.0
71  Mauricio Llovera  24424331    NaN   0.0

[72 rows x 4 columns]
                Name        ID  order     FP
0     Tommy LaStella     12371    NaN   0.00
1      Merrill Kelly  24422327    NaN  10.70
2          Alex Cobb  24422330    NaN   8.45
3       Joc Pederson  24422376    1.0   7.00
4     Thairo Estrada  24422442    2.0   5.00
..               ...       ...    ...    ...
67    J.B. Bukauskas  24424189    NaN   0.00
68   Scott Alexander  24424293    NaN   1.65
69       Edwin Uceta  24424318    NaN   0.00
70       Kyle Nelson  24424326    NaN   0.00
71  Mauricio Llovera  24424331    NaN   0.00

[72 rows x 4 columns]
                Name        ID  order     FP
0     Tommy LaStella     12371    NaN   0.00
1      Merrill Kelly  24422327    NaN   9.85
2          Alex Cobb  24422330    NaN  35.20
3       Joc Pederson  24422376    1.0   0.00
4     Thairo Estrada  24422442    2.0   0.00
..               ...       ...    ...    ...
67    J.B. Bukauskas  24424189    NaN   0.00
68   Scott Alexander  24424293    NaN   0.00
69       Edwin Uceta  24424318    NaN  -0.35
70       Kyle Nelson  24424326    NaN   0.00
71  Mauricio Llovera  24424331    NaN   0.00

[72 rows x 4 columns]
                Name        ID  order     FP
0     Tommy LaStella     12371    NaN   0.00
1      Merrill Kelly  24422327    NaN  12.70
2          Alex Cobb  24422330    NaN  16.35
3       Joc Pederson  24422376    1.0   0.00
4     Thairo Estrada  24422442    2.0   4.00
..               ...       ...    ...    ...
67    J.B. Bukauskas  24424189    NaN   0.00
68   Scott Alexander  24424293    NaN   1.50
69       Edwin Uceta  24424318    NaN   0.00
70       Kyle Nelson  24424326    NaN   0.00
71  Mauricio Llovera  24424331    NaN   0.00

[72 rows x 4 columns]
                Name        ID  order     FP
0     Tommy LaStella     12371    NaN   0.00
1      Merrill Kelly  24422327    NaN  25.40
2          Alex Cobb  24422330    NaN  25.75
3       Joc Pederson  24422376    1.0   3.00
4     Thairo Estrada  24422442    2.0   8.00
..               ...       ...    ...    ...
67    J.B. Bukauskas  24424189    NaN   0.00
68   Scott Alexander  24424293    NaN   0.00
69       Edwin Uceta  24424318    NaN   0.00
70       Kyle Nelson  24424326    NaN   0.00
71  Mauricio Llovera  24424331    NaN   0.00

[72 rows x 4 columns]
                Name        ID  order    FP
0     Tommy LaStella     12371    NaN   0.0
1      Merrill Kelly  24422327    NaN  17.6
2          Alex Cobb  24422330    NaN  12.5
3       Joc Pederson  24422376    1.0   0.0
4     Thairo Estrada  24422442    2.0   0.0
..               ...       ...    ...   ...
67    J.B. Bukauskas  24424189    NaN   0.0
68   Scott Alexander  24424293    NaN   1.5
69       Edwin Uceta  24424318    NaN   0.0
70       Kyle Nelson  24424326    NaN   0.0
71  Mauricio Llovera  24424331    NaN   0.0

[72 rows x 4 columns]
BAL_NYY 09302022 0705PM ET.xlsx
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN   7.15
1     Jordan Lyles  24422336    NaN  13.60
2      Aaron Judge  24422345    1.0  11.00
3    Anthony Rizzo  24422393    2.0   4.00
4   Cedric Mullins  24422401    1.0   0.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN  -0.60
67   Miguel Castro  24424330    NaN   6.80
68    Lucas Luetge  24424338    NaN   0.15
69   Scott Effross  24424341    NaN   3.50
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN  11.90
1     Jordan Lyles  24422336    NaN  11.70
2      Aaron Judge  24422345    1.0  11.00
3    Anthony Rizzo  24422393    2.0  12.00
4   Cedric Mullins  24422401    1.0   4.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   2.75
67   Miguel Castro  24424330    NaN   0.00
68    Lucas Luetge  24424338    NaN   0.75
69   Scott Effross  24424341    NaN   0.90
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN   5.25
1     Jordan Lyles  24422336    NaN  22.25
2      Aaron Judge  24422345    1.0  10.00
3    Anthony Rizzo  24422393    2.0  18.00
4   Cedric Mullins  24422401    1.0   9.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   0.15
67   Miguel Castro  24424330    NaN   0.15
68    Lucas Luetge  24424338    NaN   4.40
69   Scott Effross  24424341    NaN   0.75
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN -11.95
1     Jordan Lyles  24422336    NaN   9.20
2      Aaron Judge  24422345    1.0  14.00
3    Anthony Rizzo  24422393    2.0  14.00
4   Cedric Mullins  24422401    1.0  19.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   2.15
67   Miguel Castro  24424330    NaN   3.80
68    Lucas Luetge  24424338    NaN   3.15
69   Scott Effross  24424341    NaN   3.80
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN  24.45
1     Jordan Lyles  24422336    NaN   2.00
2      Aaron Judge  24422345    1.0  19.00
3    Anthony Rizzo  24422393    2.0   3.00
4   Cedric Mullins  24422401    1.0   9.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   0.75
67   Miguel Castro  24424330    NaN   0.00
68    Lucas Luetge  24424338    NaN   0.90
69   Scott Effross  24424341    NaN   0.75
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN   5.60
1     Jordan Lyles  24422336    NaN  18.30
2      Aaron Judge  24422345    1.0  19.00
3    Anthony Rizzo  24422393    2.0   9.00
4   Cedric Mullins  24422401    1.0   0.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   0.00
67   Miguel Castro  24424330    NaN  -0.60
68    Lucas Luetge  24424338    NaN   1.50
69   Scott Effross  24424341    NaN  -0.45
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN  33.00
1     Jordan Lyles  24422336    NaN  21.60
2      Aaron Judge  24422345    1.0  18.00
3    Anthony Rizzo  24422393    2.0   2.00
4   Cedric Mullins  24422401    1.0  14.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   2.75
67   Miguel Castro  24424330    NaN   0.00
68    Lucas Luetge  24424338    NaN   0.00
69   Scott Effross  24424341    NaN   0.00
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN  11.85
1     Jordan Lyles  24422336    NaN  -5.25
2      Aaron Judge  24422345    1.0   7.00
3    Anthony Rizzo  24422393    2.0   2.00
4   Cedric Mullins  24422401    1.0  12.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN  -3.10
67   Miguel Castro  24424330    NaN   0.00
68    Lucas Luetge  24424338    NaN   0.75
69   Scott Effross  24424341    NaN  -0.35
70       Jake Reed  24424348    NaN   1.50

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN  11.80
1     Jordan Lyles  24422336    NaN  30.55
2      Aaron Judge  24422345    1.0   0.00
3    Anthony Rizzo  24422393    2.0   8.00
4   Cedric Mullins  24422401    1.0   8.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   0.00
67   Miguel Castro  24424330    NaN  -1.10
68    Lucas Luetge  24424338    NaN   0.00
69   Scott Effross  24424341    NaN   2.25
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
              Name        ID  order     FP
0   Domingo Germán  24422331    NaN  19.00
1     Jordan Lyles  24422336    NaN  11.45
2      Aaron Judge  24422345    1.0   5.00
3    Anthony Rizzo  24422393    2.0   0.00
4   Cedric Mullins  24422401    1.0   0.00
..             ...       ...    ...    ...
66         DL Hall  24424329    NaN   0.00
67   Miguel Castro  24424330    NaN   0.00
68    Lucas Luetge  24424338    NaN   0.75
69   Scott Effross  24424341    NaN   0.75
70       Jake Reed  24424348    NaN   0.00

[71 rows x 4 columns]
BOS_TOR 09302022 0707PM ET.xlsx
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  48.05
2           Nick Pivetta  24422334    NaN   3.10
3          Rafael Devers  24422361    2.0   7.00
4   Vladimir GuerreroJr.  24422370    3.0   0.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   0.00
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.00
67           Matt Strahm  24424339    NaN  -1.20
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN   8.60
2           Nick Pivetta  24422334    NaN  21.90
3          Rafael Devers  24422361    2.0  14.00
4   Vladimir GuerreroJr.  24422370    3.0  23.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN  -2.45
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   1.50
67           Matt Strahm  24424339    NaN   0.00
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  18.15
2           Nick Pivetta  24422334    NaN  26.50
3          Rafael Devers  24422361    2.0   8.00
4   Vladimir GuerreroJr.  24422370    3.0  14.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   0.00
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.00
67           Matt Strahm  24424339    NaN   0.00
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  12.80
2           Nick Pivetta  24422334    NaN  22.10
3          Rafael Devers  24422361    2.0   7.00
4   Vladimir GuerreroJr.  24422370    3.0  14.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN  -0.45
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.15
67           Matt Strahm  24424339    NaN  -1.60
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  25.30
2           Nick Pivetta  24422334    NaN  -2.15
3          Rafael Devers  24422361    2.0   8.00
4   Vladimir GuerreroJr.  24422370    3.0  10.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   0.00
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.00
67           Matt Strahm  24424339    NaN   0.00
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order    FP
0      Enrique Hernández     10472    NaN   0.0
1            Alek Manoah  24422322    NaN  34.4
2           Nick Pivetta  24422334    NaN  14.1
3          Rafael Devers  24422361    2.0  12.0
4   Vladimir GuerreroJr.  24422370    3.0   9.0
..                   ...       ...    ...   ...
64          David Phelps  24424272    NaN  -0.6
65       Trevor Richards  24424310    NaN   0.0
66          Anthony Bass  24424337    NaN   2.9
67           Matt Strahm  24424339    NaN   0.0
68   Julian Merryweather  24424350    NaN   0.0

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  29.30
2           Nick Pivetta  24422334    NaN   5.65
3          Rafael Devers  24422361    2.0  19.00
4   Vladimir GuerreroJr.  24422370    3.0   0.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   0.00
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.00
67           Matt Strahm  24424339    NaN   1.50
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  21.85
2           Nick Pivetta  24422334    NaN  21.45
3          Rafael Devers  24422361    2.0   8.00
4   Vladimir GuerreroJr.  24422370    3.0   6.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   2.75
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.00
67           Matt Strahm  24424339    NaN   1.50
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  -0.25
2           Nick Pivetta  24422334    NaN  22.10
3          Rafael Devers  24422361    2.0   5.00
4   Vladimir GuerreroJr.  24422370    3.0  13.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   0.00
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   2.15
67           Matt Strahm  24424339    NaN   3.50
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
                    Name        ID  order     FP
0      Enrique Hernández     10472    NaN   0.00
1            Alek Manoah  24422322    NaN  20.95
2           Nick Pivetta  24422334    NaN  13.50
3          Rafael Devers  24422361    2.0  14.00
4   Vladimir GuerreroJr.  24422370    3.0  18.00
..                   ...       ...    ...    ...
64          David Phelps  24424272    NaN   3.50
65       Trevor Richards  24424310    NaN   0.00
66          Anthony Bass  24424337    NaN   0.75
67           Matt Strahm  24424339    NaN   2.25
68   Julian Merryweather  24424350    NaN   0.00

[69 rows x 4 columns]
CHW_SDP 09302022 0940PM ET.xlsx
              Name        ID  order     FP
0       Yu Darvish  24422320    NaN  14.65
1     Davis Martin  24422338    NaN   9.30
2        Juan Soto  24422363    2.0   2.00
3    Manny Machado  24422374    3.0   5.00
4     Eloy Jiménez  24422381    4.0   3.00
..             ...       ...    ...    ...
64     Michel Baez  24424227    NaN   0.00
65   Robert Suarez  24424233    NaN   1.55
66       Joe Kelly  24424277    NaN   5.05
67  Nabil Crismatt  24424299    NaN   0.00
68  Reynaldo López  24424303    NaN   5.50

[69 rows x 4 columns]
              Name        ID  order     FP
0       Yu Darvish  24422320    NaN  14.45
1     Davis Martin  24422338    NaN   5.90
2        Juan Soto  24422363    2.0   7.00
3    Manny Machado  24422374    3.0  22.00
4     Eloy Jiménez  24422381    4.0   5.00
..             ...       ...    ...    ...
64     Michel Baez  24424227    NaN   0.75
65   Robert Suarez  24424233    NaN   1.80
66       Joe Kelly  24424277    NaN   5.50
67  Nabil Crismatt  24424299    NaN   0.00
68  Reynaldo López  24424303    NaN  -0.60

[69 rows x 4 columns]
              Name        ID  order    FP
0       Yu Darvish  24422320    NaN -1.80
1     Davis Martin  24422338    NaN  5.30
2        Juan Soto  24422363    2.0  3.00
3    Manny Machado  24422374    3.0  0.00
4     Eloy Jiménez  24422381    4.0  2.00
..             ...       ...    ...   ...
64     Michel Baez  24424227    NaN  0.00
65   Robert Suarez  24424233    NaN  0.00
66       Joe Kelly  24424277    NaN  9.75
67  Nabil Crismatt  24424299    NaN  0.00
68  Reynaldo López  24424303    NaN -1.20

[69 rows x 4 columns]
              Name        ID  order     FP
0       Yu Darvish  24422320    NaN  13.95
1     Davis Martin  24422338    NaN  -1.10
2        Juan Soto  24422363    2.0  21.00
3    Manny Machado  24422374    3.0   3.00
4     Eloy Jiménez  24422381    4.0   4.00
..             ...       ...    ...    ...
64     Michel Baez  24424227    NaN   0.00
65   Robert Suarez  24424233    NaN   1.70
66       Joe Kelly  24424277    NaN   3.05
67  Nabil Crismatt  24424299    NaN   0.00
68  Reynaldo López  24424303    NaN   0.00

[69 rows x 4 columns]
              Name        ID  order     FP
0       Yu Darvish  24422320    NaN  31.95
1     Davis Martin  24422338    NaN  -6.15
2        Juan Soto  24422363    2.0  12.00
3    Manny Machado  24422374    3.0   5.00
4     Eloy Jiménez  24422381    4.0   4.00
..             ...       ...    ...    ...
64     Michel Baez  24424227    NaN   0.00
65   Robert Suarez  24424233    NaN   0.00
66       Joe Kelly  24424277    NaN   0.00
67  Nabil Crismatt  24424299    NaN   0.00
68  Reynaldo López  24424303    NaN  -2.45

[69 rows x 4 columns]
              Name        ID  order     FP
0       Yu Darvish  24422320    NaN  14.65
1     Davis Martin  24422338    NaN   7.30

,Name,ID,order,FP,Name,ID,order,FP,Name,ID,...,order,FP,Name,ID,order,FP,Name,ID,order,FP
0,Shohei Ohtani,134045,NaN,0.00,Shohei Ohtani,134045,NaN,0.00,Shohei Ohtani,134045,...,NaN,0.00,Shohei Ohtani,134045,NaN,0.00,Shohei Ohtani,134045,NaN,0.00
1,Glenn Otto,24422337,NaN,24.55,Glenn Otto,24422337,NaN,-4.25,Glenn Otto,24422337,...,NaN,13.40,Glenn Otto,24422337,NaN,10.75,Glenn Otto,24422337,NaN,3.70
2,Tucker Davidson,24422344,NaN,0.00,Tucker Davidson,24422344,NaN,0.00,Tucker Davidson,24422344,...,NaN,0.00,Tucker Davidson,24422344,NaN,0.00,Tucker Davidson,24422344,NaN,0.00
3,Mike Trout,24422348,2.0,24.00,Mike Trout,24422348,2.0,21.00,Mike Trout,24422348,...,2.0,25.00,Mike Trout,24422348,2.0,4.00,Mike Trout,24422348,2.0,5.00
4,Corey Seager,24422430,2.0,11.00,Corey Seager,24422430,2.0,12.00,Corey Seager,24422430,...,2.0,0.00,Corey Seager,24422430,2.0,5.00,Corey Seager,24422430,2.0,9.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Jimmy Herget,24424298,NaN,2.75,Jimmy Herget,24424298,NaN,1.50,Jimmy Herget,24424298,...,NaN,2.15,Jimmy Herget,24424298,NaN,2.75,Jimmy Herget,24424298,NaN,0.00
63,Jesus Tinoco,24424351,NaN,0.00,Jesus Tinoco,24424351,NaN,0.75,Jesus Tinoco,24424351,...,NaN,0.00,Jesus Tinoco,24424351,NaN,0.00,Jesus Tinoco,24424351,NaN,0.00
64,Aaron Loup,24424353,NaN,0.90,Aaron Loup,24424353,NaN,0.00,Aaron Loup,24424353,...,NaN,-1.70,Aaron Loup,24424353,NaN,0.00,Aaron Loup,24424353,NaN,4.25
65,Dennis Santana,24424354,NaN,2.90,Dennis Santana,24424354,NaN,0.00,Dennis Santana,24424354,...,NaN,2.15,Dennis Santana,24424354,NaN,-0.60,Dennis Santana,24424354,NaN,0.75
66,Andrew Wantz,24424356,NaN,-0.60,Andrew Wantz,24424356,NaN,0.00,Andrew Wantz,24424356,...,NaN,-1.85,Andrew Wantz,24424356,NaN,0.00,Andrew Wantz,24424356,NaN,0.00

In [14]:
# This merges sim results with DK Salaries then adds average and exposure
def create_matchup_df(matchup, DKSalaries=DKSalaries, matchup_path=matchup_path, 
            team_map=team_map, weather_df=weather_df, pull=pull, pred=pred, dp_rates=dp_rates, dp_base_rates=dp_base_rates,
            advances=advances, opener_list=opener_list, num_sims=num_sims):
    
    all_scores_list=[]
    game_template = create_game(matchup, matchup_path, team_map, weather_df)
    output = Parallel(n_jobs=-3, verbose=5)(delayed(sim_matchup)(matchup=matchup, matchup_path=matchup_path, team_map=team_map, weather_df=weather_df, pull=pull, pred=pred, 
                                dp_rates=dp_rates, dp_base_rates=dp_base_rates, advances=advances, opener_list=opener_list, 
                                all_scores_list=all_scores_list, game_template=game_template) for sims in range(num_sims))
    
    player_sims = pd.concat(output, axis=1)
    
    cols=[]
    count=0
    for column in player_sims.columns:
        if column == "FP":
            cols.append(f'FP{count}')
            count+=1
            continue
        cols.append(column)
    player_sims.columns=cols
    player_sims = player_sims.loc[:,~player_sims.columns.duplicated()].copy() 

    
    # Merge all scores onto players
    player_sims = DKSalaries.merge(player_sims, on='ID', how='inner')
    return player_sims

In [15]:
%%time
print(matchup_list)
# This loops over matchups and creates matchups and then exports them to excel
for matchup in matchup_list:
    print(matchup)
    
    player_sims = create_matchup_df(matchup, DKSalaries=DKSalaries, matchup_path=matchup_path, 
            team_map=team_map, weather_df=weather_df, pull=pull, pred=pred, dp_rates=dp_rates, dp_base_rates=dp_base_rates,
            advances=advances, opener_list=opener_list, num_sims=num_sims)
    
    # Fill missings with 0s
    player_sims.fillna(0, inplace=True)

    player_sims.rename(columns={'Name_x': 'Name', 'order':'Roster Order'}, inplace=True)
    player_sims.drop(columns=['Unnamed: 0', 'Name_y'], inplace=True)
    player_sims['Roster Order'] = player_sims['Roster Order'].astype(int)
    
    player_sims['Min Exposure'] = 0.0
    player_sims['Max Exposure'] = 0.5
    
    points_cols = [col for col in player_sims.columns if 'FP' in col]
    player_sims['AvgPointsPerGame'] = player_sims[points_cols].mean(axis=1)
    
    player_sims.to_excel(os.path.join(baseball_path, "Player Sims", directory, matchup))

['ARI_SFG 09302022 1015PM ET.xlsx', 'BAL_NYY 09302022 0705PM ET.xlsx', 'BOS_TOR 09302022 0707PM ET.xlsx', 'CHW_SDP 09302022 0940PM ET.xlsx', 'COL_LAD 09302022 1010PM ET.xlsx', 'KCR_CLE 09302022 0710PM ET.xlsx', 'MIA_MIL 09302022 0810PM ET.xlsx', 'MIN_DET 09302022 0710PM ET.xlsx', 'NYM_ATL 09302022 0720PM ET.xlsx', 'OAK_SEA 09302022 0940PM ET.xlsx', 'PHI_WSN 09302022 0705PM ET.xlsx', 'PIT_STL 09302022 0815PM ET.xlsx', 'TBR_HOU 09302022 0810PM ET.xlsx', 'TEX_LAA 09302022 0938PM ET.xlsx']
ARI_SFG 09302022 1015PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    3.4s remaining:    5.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    3.4s remaining:    1.4s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    3.5s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    3.5s finished

BAL_NYY 09302022 0705PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.1s remaining:    0.2s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    1.3s remaining:    0.5s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    1.3s finished

BOS_TOR 09302022 0707PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished
[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.

CHW_SDP 09302022 0940PM ET.xlsx

[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

COL_LAD 09302022 1010PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

KCR_CLE 09302022 0710PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

MIA_MIL 09302022 0810PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

MIN_DET 09302022 0710PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

NYM_ATL 09302022 0720PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

OAK_SEA 09302022 0940PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

PHI_WSN 09302022 0705PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

PIT_STL 09302022 0815PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

TBR_HOU 09302022 0810PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

TEX_LAA 09302022 0938PM ET.xlsx

[Parallel(n_jobs=-3)]: Using backend LokyBackend with 14 concurrent workers.
[Parallel(n_jobs=-3)]: Done   4 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-3)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=-3)]: Done  10 out of  10 | elapsed:    0.1s finished

CPU times: total: 3.53 s
Wall time: 10.2 s

In [16]:
# This appends all games together
# Create path to Player Sims folder
path = os.path.join(baseball_path, "Player Sims", directory)
# Find all Excel files
player_sim_files = glob.glob(os.path.join(path , "*.xlsx"))
                  
# Append all together
matchup_sim_list = []
for filename in player_sim_files:
    df = pd.read_excel(filename, index_col=None, header=0)
    matchup_sim_list.append(df)

all_matchup_sims = pd.concat(matchup_sim_list, axis=0, ignore_index=True)

# Set file name
sim_file = "Player_Sims_" + todaysdate + ".csv"

# Sort
all_matchup_sims.sort_values(['AvgPointsPerGame'], ascending=False, inplace=True)
# Clean name
all_matchup_sims = all_matchup_sims.loc[:,~all_matchup_sims.columns.str.startswith('Unnamed')]

#Export to CSV
all_matchup_sims.to_csv(os.path.join(baseball_path, "Player Sims", sim_file))

In [17]:
print("Code was last run on: " + str(datetime.date.today()))

Code was last run on: 2022-10-28