In [2]:
import pandas as pd
import os

In [16]:
fitbit_path = r"C:\Users\james\OneDrive\Documents\Physical Activity"

df = pd.read_json(os.path.join(fitbit_path, "exercise-1400.json"))
df

,logId,activityName,activityTypeId,activityLevel,averageHeartRate,calories,distance,distanceUnit,duration,activeDuration,...,pace,vo2Max,lastModified,startTime,originalStartTime,originalDuration,elevationGain,hasGps,shouldFetchDetails,hasActiveZoneMinutes
0,49126927570,Run,90009,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",135.0,362,3.571523,Mile,2026000,1990000,...,557.185268,{'vo2Max': 57.517100000000006},06/30/22 11:53:33,06/30/22 11:18:54,06/30/22 11:18:54,2026000,98.999344,True,True,False
1,49163965109,Walk,90013,"[{'minutes': 1, 'name': 'sedentary'}, {'minute...",96.0,398,NaN,NaN,3481000,3481000,...,NaN,NaN,07/01/22 01:34:38,07/01/22 00:21:42,07/01/22 00:21:42,3481000,0.000000,False,False,False
2,49130631460,Weights,2131,"[{'minutes': 7, 'name': 'sedentary'}, {'minute...",87.0,134,NaN,NaN,2004000,2003000,...,NaN,NaN,07/01/22 13:34:31,07/01/22 12:46:40,07/01/22 12:46:40,2004000,36.000656,False,False,False
3,49189201406,Run,90009,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",132.0,201,2.004388,Mile,1110000,1091000,...,544.305793,{'vo2Max': 58.94097000000001},07/02/22 14:25:27,07/02/22 13:59:58,07/02/22 13:59:58,1110000,68.999344,True,True,False
4,49198308355,Weights,2131,"[{'minutes': 15, 'name': 'sedentary'}, {'minut...",79.0,168,NaN,NaN,3009000,3008000,...,NaN,NaN,07/03/22 15:34:43,07/03/22 12:19:19,07/03/22 12:19:19,3009000,41.000656,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,50821209372,Run,90009,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",153.0,459,4.100782,Mile,2332000,2273000,...,554.284524,{'vo2Max': 53.06242},09/18/22 13:36:01,09/18/22 12:53:26,09/18/22 12:53:26,2332000,180.000000,True,True,False
93,50887022211,Weights,2131,"[{'minutes': 3, 'name': 'sedentary'}, {'minute...",86.0,106,NaN,NaN,1548000,1522000,...,NaN,NaN,09/19/22 12:22:00,09/19/22 11:54:38,09/19/22 11:54:38,1548000,21.000656,False,False,False
94,50908255735,Walk,90013,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",133.0,353,NaN,NaN,2200000,2200000,...,NaN,NaN,09/19/22 16:44:51,09/19/22 15:57:05,09/19/22 15:57:05,2200000,60.000000,False,False,False
95,50932940265,Run,90009,"[{'minutes': 1, 'name': 'sedentary'}, {'minute...",144.0,130,1.384869,Mile,819000,730000,...,527.125670,{'vo2Max': 56.289550000000006},09/21/22 12:21:49,09/21/22 12:05:21,09/21/22 12:05:21,819000,32.998688,True,True,False
96,50957183545,Weights,2131,"[{'minutes': 9, 'name': 'sedentary'}, {'minute...",82.0,99,NaN,NaN,1883000,1882000,...,NaN,NaN,09/22/22 12:33:47,09/22/22 11:53:27,09/22/22 11:53:27,1883000,43.999344,False,False,False