In [85]:
import pandas as pd
import numpy as np
import pickle
import os
import math
import warnings
import re
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

baseball_path = r"C:\Users\james\OneDrive\Documents\MLB\Data"

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestClassifier

from sklearn.linear_model import LinearRegression

In [87]:
import statsmodels.formula.api as smf
import pickle

In [88]:
def create_events(df):
    df['eventsModel'] = np.where(df['event'] == 'Strikeout', "so", "")
    df['eventsModel'] = np.where(df['event'] == 'Strikeout Double Play', "so", df['eventsModel'])

    df['eventsModel'] = np.where(df['event'] == 'Groundout', "go", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Fielders Choice', "go", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Double Play', "go", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Grounded Into DP', "go", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Triple Play', "go", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Field Error', "go", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Forceout', "go", df['eventsModel'])


    df['eventsModel'] = np.where(df['event'] == 'Lineout', "lo", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Bunt Lineout', "lo", df['eventsModel'])

    df['eventsModel'] = np.where(df['event'] == 'Flyout', "fo", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Sac Fly', "fo", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Sac Fly Double Play', "fo", df['eventsModel'])

    df['eventsModel'] = np.where(df['event'] == 'Pop Out', "po", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Bunt Pop Out', "po", df['eventsModel'])


    df['eventsModel'] = np.where(df['event'] == 'Hit By Pitch', "hbp", df['eventsModel'])

    df['eventsModel'] = np.where(df['event'] == 'Walk', "bb", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Intent Walk', "bb", df['eventsModel'])

    df['eventsModel'] = np.where(df['event'] == 'Single', "b1", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Double', "b2", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Triple', "b3", df['eventsModel'])
    df['eventsModel'] = np.where(df['event'] == 'Home Run', "hr", df['eventsModel'])

    df['eventsModel'] = np.where(df['eventsModel'] == "", "Cut", df['eventsModel'])
    
    return df

In [89]:
# This will return a dataframe that can eventually be used as the model input. Has pitcher vs hitter stats, specific to hand
######### THIS ONE DOES NOT SHIFT, SO IT'S DIFFERENT FROM PA MODEL ###############
def rolling_pas(df, pa_num):
    stat_list = ['so', 'b1', 'b2', 'b3', 'hr', 'bb', 'hbp', 'lo', 'po', 'go', 'fo', 'pa', 'ab']
    df['pa_num'] = df.index
    
    batter_stats = []
    pitcher_stats = []

    for stat in stat_list:
        batter_stat = stat + "_b"
        pitcher_stat = stat + "_p"
        batter_stats.append(batter_stat)
        pitcher_stats.append(pitcher_stat)

    df[batter_stats] = df.groupby(['batter', 'pitchHand'])[stat_list].transform(lambda x: x.rolling(pa_num, min_periods=1).sum())
    df[pitcher_stats] = df.groupby(['pitcher', 'batSide'])[stat_list].transform(lambda x: x.rolling(pa_num, min_periods=1).sum())
    df.sort_values(['pa_num'], axis=0, ascending=True, inplace=True)

    # wOBA - using 2022 values throughout
    df['woba_b'] = (0.690 * df['bb_b']) + (0.721 * df['hbp_b']) + (0.885 * df['b1_b']) + (1.262 * df['b2_b']) + (1.601 * df['b3_b']) + (2.070 * df['hr_b'])
    df['woba_p'] = (0.690 * df['bb_p']) + (0.721 * df['hbp_p']) + (0.885 * df['b1_p']) + (1.262 * df['b2_p']) + (1.601 * df['b3_p']) + (2.070 * df['hr_p'])
    
    # Slugging
    df['slg_b'] = (1 * df['b1_b']) + (2 * df['b2_b']) + (3 * df['b3_b']) + (4 * df['hr_b'])
    df['slg_b'] = df['slg_b'] / df['ab_b']
    df['slg_p'] = (1 * df['b1_p']) + (2 * df['b2_p']) + (3 * df['b3_p']) + (4 * df['hr_p'])
    df['slg_p'] = df['slg_p'] / df['ab_p']

    # OBP    
    df['obp_b'] = df[['b1_b', 'b2_b', 'b3_b', 'hr_b', 'bb_b', 'hbp_b']].sum(axis=1)
    df['obp_p'] = df[['b1_p', 'b2_p', 'b3_p', 'hr_p', 'bb_p', 'hbp_p']].sum(axis=1)

    # Calculate rates
    stat_short = ['so', 'b1', 'b2', 'b3', 'hr', 'bb', 'hbp', 'lo', 'po', 'go', 'fo', 'woba', 'obp']
    for stat in stat_short:
        batter_stat = stat + "_b"
        pitcher_stat = stat + "_p"  
        df[batter_stat] = df[batter_stat] / df['pa_b']
        df[pitcher_stat] = df[pitcher_stat] / df['pa_p']
        
    df.sort_values('pa_num', inplace=True)
    
    return df, batter_stats, pitcher_stats

In [90]:
# Right now, we're only using one year of data. This should be a very easy fix. Just haven't done it yet.
df = pd.read_csv(os.path.join(baseball_path, "API", "Raw", "Play2021.csv"))


def create_basic_stats(df):
    df = df[df['game_type'] == "R"]
    df = create_events(df)
    df = df[df['eventsModel'] != "Cut"]
    
    df.drop_duplicates(subset=['gamePk', 'atBatIndex'], keep='last', inplace=True)
    
    event_dummies = pd.get_dummies(df['eventsModel'])

    events_list = df['eventsModel'].unique().tolist()
    df = pd.concat([df, event_dummies], axis=1)

    df['pa'] = df[events_list].sum(axis=1)
    df['ab'] = df['pa'] - df['bb'] # this is wrong but we can simply not use ab derivatives in projections
    
    events_list.append('pa')
    events_list.append('ab')
    
    
    yearly_batter = df.groupby('batter')[events_list].sum().reset_index()
    yearly_pitcher = df.groupby('pitcher')[events_list].sum().reset_index()
    
    short_list = ['b1', 'b2', 'b3', 'hr', 'bb', 'hbp', 'so']
    for stat in short_list:
        stat_rate = stat + "_rate"
        yearly_batter[stat_rate] = yearly_batter[stat] / yearly_batter['pa']
        yearly_pitcher[stat_rate] = yearly_pitcher[stat] / yearly_pitcher['pa']
        
    df, batter_stats, pitcher_stats = rolling_pas(df, 9999)

    
    pitcher_dummies = pd.get_dummies(df['pitchHand'], prefix='p')
    batter_dummies = pd.get_dummies(df['batSide'], prefix='b')
    
    df = pd.concat([df, pitcher_dummies, batter_dummies], axis=1)
        
    return df, batter_stats, pitcher_stats, yearly_batter, yearly_pitcher

df, batter_stats, pitcher_stats, yearly_batter, yearly_pitcher = create_basic_stats(df)

In [91]:
# Create batter sample
batters = yearly_batter[['batter', 'pa', 'b1_rate', 'b2_rate', 'b3_rate', 'hr_rate', 'bb_rate', 'hbp_rate', 'so_rate']]

batter_events = df.copy()
batter_events = batter_events[['batter', 'eventsModel', 'b_L', 'p_L']]
batter_events = batter_events.merge(batters, on='batter', how='inner')
batter_events = batter_events.query('pa >= 50')
batter_events

,batter,eventsModel,b_L,p_L,pa,b1_rate,b2_rate,b3_rate,hr_rate,bb_rate,hbp_rate,so_rate
0,543760,go,0,0,723,0.120332,0.053942,0.002766,0.062241,0.091286,0.004149,0.201936
1,543760,po,0,0,723,0.120332,0.053942,0.002766,0.062241,0.091286,0.004149,0.201936
2,543760,fo,0,0,723,0.120332,0.053942,0.002766,0.062241,0.091286,0.004149,0.201936
3,543760,so,0,0,723,0.120332,0.053942,0.002766,0.062241,0.091286,0.004149,0.201936
4,543760,so,0,0,723,0.120332,0.053942,0.002766,0.062241,0.091286,0.004149,0.201936
...,...,...,...,...,...,...,...,...,...,...,...,...
180209,592656,so,1,0,54,0.129630,0.037037,0.000000,0.018519,0.074074,0.000000,0.222222
180210,592656,bb,1,0,54,0.129630,0.037037,0.000000,0.018519,0.074074,0.000000,0.222222
180211,592656,lo,1,0,54,0.129630,0.037037,0.000000,0.018519,0.074074,0.000000,0.222222
180212,592656,fo,1,0,54,0.129630,0.037037,0.000000,0.018519,0.074074,0.000000,0.222222
180213,592656,b1,1,0,54,0.129630,0.037037,0.000000,0.018519,0.074074,0.000000,0.222222

In [92]:
# Batters vs LHP
vs_lhp = batter_events.query('p_L == 1')

X = vs_lhp[['b_L', 'b1_rate', 'b2_rate', 'b3_rate', 'hr_rate', 'bb_rate', 'hbp_rate', 'so_rate']]
y = vs_lhp['eventsModel']
           
vs_lhp_model = MLPClassifier(hidden_layer_sizes=(80,80), activation='relu', random_state=1,max_iter=300).fit(X,y)
           
filename = "fg_vs_lhp_20220905.sav"
pickle.dump(vs_lhp_model, open(filename, 'wb'))           
           
preds = vs_lhp_model.predict_proba(X)           
preds_df = pd.DataFrame(preds, columns=vs_lhp_model.classes_)
preds_df

vs_lhp = pd.concat([vs_lhp, preds_df], axis=0)
vs_lhp.describe()

,batter,b_L,p_L,pa,b1_rate,b2_rate,b3_rate,hr_rate,bb_rate,hbp_rate,...,b2,b3,bb,fo,go,hbp,hr,lo,po,so
count,51969.000000,51969.000000,51969.0,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,...,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000,51969.000000
mean,599872.444669,0.283438,1.0,434.179742,0.139875,0.044445,0.003715,0.033788,0.088122,0.011789,...,0.050772,0.004717,0.084400,0.121370,0.236215,0.009931,0.030241,0.053539,0.043787,0.226575
std,62843.062431,0.450672,0.0,178.486001,0.032257,0.012656,0.004198,0.017047,0.031614,0.009948,...,0.017567,0.005021,0.030591,0.017521,0.043290,0.008522,0.016549,0.013306,0.012202,0.068749
min,405395.000000,0.000000,1.0,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006570,0.000075,0.011903,0.020856,0.116951,0.000068,0.000419,0.015805,0.008681,0.078677
25%,570482.000000,0.000000,1.0,288.000000,0.118110,0.035928,0.000000,0.020772,0.066116,0.005181,...,0.038283,0.002074,0.061045,0.110161,0.203808,0.004971,0.015932,0.044480,0.036150,0.182077
50%,608348.000000,0.000000,1.0,465.000000,0.139423,0.044248,0.002907,0.033003,0.087025,0.009259,...,0.048484,0.003384,0.079344,0.121959,0.237294,0.007475,0.027436,0.052795,0.042464,0.219001
75%,656305.000000,1.000000,1.0,587.000000,0.162029,0.053375,0.005464,0.045531,0.108434,0.015901,...,0.062174,0.005385,0.106990,0.133015,0.261409,0.011857,0.043772,0.061105,0.050716,0.269793
max,683734.000000,1.000000,1.0,723.000000,0.223684,0.096154,0.060000,0.089552,0.233244,0.081081,...,0.157035,0.124714,0.250511,0.173293,0.382028,0.100372,0.080248,0.107876,0.115763,0.711192

In [93]:
# Batters vs RHP
vs_rhp = batter_events.query('p_L == 0')

X = vs_rhp[['b_L', 'b1_rate', 'b2_rate', 'b3_rate', 'hr_rate', 'bb_rate', 'hbp_rate', 'so_rate']]
y = vs_rhp['eventsModel']
           
vs_rhp_model = MLPClassifier(hidden_layer_sizes=(80,80), activation='relu', random_state=1,max_iter=300).fit(X,y)
           
filename = "fg_vs_rhp_20220905.sav"
pickle.dump(vs_rhp_model, open(filename, 'wb'))           
           
preds = vs_rhp_model.predict_proba(X)           
preds_df = pd.DataFrame(preds, columns=vs_rhp_model.classes_)
preds_df

vs_rhp = pd.concat([vs_rhp, preds_df], axis=0)
vs_rhp.describe()

,batter,b_L,p_L,pa,b1_rate,b2_rate,b3_rate,hr_rate,bb_rate,hbp_rate,...,b2,b3,bb,fo,go,hbp,hr,lo,po,so
count,122879.000000,122879.000000,122879.0,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,...,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000,122879.000000
mean,598566.216579,0.456579,0.0,436.091269,0.140087,0.044143,0.003808,0.033619,0.088627,0.011795,...,0.050484,0.004109,0.084201,0.132300,0.215736,0.010830,0.032393,0.058494,0.045823,0.225574
std,62545.256417,0.498113,0.0,176.405849,0.032176,0.012520,0.004101,0.017123,0.031046,0.009823,...,0.013122,0.004099,0.032004,0.018601,0.035361,0.009330,0.017196,0.011996,0.011903,0.065857
min,405395.000000,0.000000,0.0,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.013917,0.000082,0.015249,0.036397,0.091967,0.000493,0.001481,0.014599,0.007541,0.090428
25%,553993.000000,0.000000,0.0,294.000000,0.118421,0.035661,0.000000,0.020468,0.067327,0.005111,...,0.041376,0.001806,0.060033,0.120703,0.192053,0.004122,0.018253,0.052264,0.037278,0.181561
50%,607461.000000,0.000000,0.0,469.000000,0.140071,0.044248,0.003067,0.032787,0.087137,0.009174,...,0.049582,0.002763,0.082002,0.131917,0.213197,0.007654,0.030914,0.057729,0.044870,0.223849
75%,650559.000000,1.000000,0.0,586.000000,0.162037,0.053068,0.005515,0.045113,0.108470,0.016260,...,0.058475,0.004677,0.103014,0.143429,0.238511,0.014886,0.044396,0.063928,0.053646,0.261874
max,683734.000000,1.000000,0.0,723.000000,0.223684,0.096154,0.060000,0.089552,0.233244,0.081081,...,0.111812,0.070626,0.224912,0.179392,0.340882,0.083180,0.083084,0.104663,0.100196,0.688409

# Pitchers

In [94]:
# Earlier "yearly_pitchers" is not helpful. Remove later. Also, watch the S.
yearly_pitchers = df[['pitcher', 'gamePk', 'inning', 'outs', 'b1', 'b2', 'b3', 'hr', 'so', 'bb']]
yearly_pitchers['out'] = yearly_pitchers.groupby(['pitcher', 'gamePk', 'inning'])['outs'].diff()
yearly_pitchers['out'].fillna(yearly_pitchers['outs'], inplace=True)
yearly_pitchers = yearly_pitchers.groupby('pitcher')['out', 'b1', 'b2', 'b3', 'hr', 'so', 'bb'].agg('sum').reset_index()
yearly_pitchers['IP'] = pitcher_outs['out'] / 3
yearly_pitchers

# you're gonna wanna merge this with the pitcher events above in stead of pitchers

C:\Users\james\AppData\Local\Temp\ipykernel_30360\1074153122.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  yearly_pitchers = yearly_pitchers.groupby('pitcher')['out', 'b1', 'b2', 'b3', 'hr', 'so', 'bb'].agg('sum').reset_index()

     pitcher    out   b1  b2  b3  hr   so  bb         IP
0     424144   13.0    5   0   0   0    4   1  20.333333
1     425794  618.0  111  34   2  21  174  50  65.333333
2     425844  512.0  105  29   0  30  120  36  67.000000
3     429722  210.0   38  16   2   9   52  22   3.333333
4     431148   34.0    9   3   0   3   10   6  27.666667
..       ...    ...  ...  ..  ..  ..  ...  ..        ...
904   681810   75.0   11   4   1   0   20   5        NaN
905   681867    4.0    4   1   1   0    0   0        NaN
906   681911  142.0    6   5   0   6   54  22        NaN
907   683232   89.0   17   3   0   5   23  13        NaN
908   685503  122.0   18  14   2  11   24  13        NaN

[909 rows x 9 columns]

In [106]:
# Create pitcher sample
pitchers = yearly_pitchers.copy()

pitcher_events = df.copy()
pitcher_events = pitcher_events[['pitcher', 'eventsModel', 'b_L', 'p_L']]
pitcher_events = pitcher_events.merge(pitchers, on='pitcher', how='inner')
pitcher_events = pitcher_events.query('IP >= 30')

pitcher_events['H'] = (pitcher_events['b1'] + pitcher_events['b2'] + pitcher_events['b3'] + pitcher_events['hr'])
pitcher_events['H/9'] = pitcher_events['H'] / pitcher_events['out'] * 27
pitcher_events['HR/9'] = pitcher_events['hr'] / pitcher_events['out'] * 27
pitcher_events['K/9'] = pitcher_events['so'] / pitcher_events['out'] * 27
pitcher_events['BB/9'] = pitcher_events['bb'] / pitcher_events['out'] * 27

pitcher_events['HR/9'].fillna(pitcher_events['HR/9'].mean(), inplace=True)
pitcher_events['K/9'].fillna(pitcher_events['K/9'].mean(), inplace=True)
pitcher_events['BB/9'].fillna(pitcher_events['BB/9'].mean(), inplace=True)

pitcher_events = pitcher_events[['pitcher', 'eventsModel', 'b_L', 'p_L', 'out', 'IP', 'H', 'H/9', 'HR/9', 'K/9', 'BB/9']]

In [107]:
# Pitchers vs LHB
vs_lhb = pitcher_events.query('b_L == 1')

X = vs_lhb[['p_L', 'H/9', 'HR/9', 'K/9', 'BB/9']]
y = vs_lhb['eventsModel']

print(X.describe())

vs_lhb_model = MLPClassifier(hidden_layer_sizes=(80,80), activation='relu', random_state=1,max_iter=300).fit(X,y)
           
filename = "fg_vs_lhb_20220905.sav"
pickle.dump(vs_lhb_model, open(filename, 'wb'))           
           
preds = vs_lhb_model.predict_proba(X)           
preds_df = pd.DataFrame(preds, columns=vs_lhb_model.classes_)
preds_df

vs_lhb = pd.concat([vs_lhb, preds_df], axis=0)
vs_lhb.describe()

                p_L           H/9          HR/9           K/9          BB/9
count  14865.000000  14865.000000  14865.000000  14865.000000  14865.000000
mean       0.237874      8.122184      1.192448      8.271816      3.069541
std        0.425796      2.043476      0.597164      1.923705      1.386571
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      7.006920      0.842202      6.750000      2.184466
50%        0.000000      7.827523      1.138554      8.175299      2.850932
75%        0.000000      9.284387      1.428969      9.649819      3.681818
max        1.000000     36.000000      9.000000     27.000000     54.000000

,pitcher,b_L,p_L,out,IP,H,H/9,HR/9,K/9,BB/9,...,b2,b3,bb,fo,go,hbp,hr,lo,po,so
count,14865.000000,14865.0,14865.000000,14865.00000,14865.000000,14865.000000,14865.000000,14865.000000,14865.000000,14865.000000,...,14865.000000,1.486500e+04,14865.000000,14865.000000,14865.000000,1.486500e+04,1.486500e+04,1.486500e+04,14865.000000,1.486500e+04
mean,581559.021460,1.0,0.237874,310.09963,50.180267,93.447696,8.122184,1.192448,8.271816,3.069541,...,0.043516,5.378319e-03,0.090606,0.136808,0.234970,1.076898e-02,2.628881e-02,5.488465e-02,0.042183,2.239275e-01
std,61727.139146,0.0,0.425796,173.85205,15.411955,55.978818,2.043476,0.597164,1.923705,1.386571,...,0.011985,2.608597e-03,0.039606,0.024605,0.052494,1.385411e-02,1.489456e-02,9.625297e-03,0.010562,6.421112e-02
min,425794.000000,1.0,0.000000,1.00000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000015,4.037606e-21,0.002324,0.000350,0.003747,6.283193e-22,7.743003e-18,4.004524e-11,0.000006,3.527898e-08
25%,543883.000000,1.0,0.000000,169.00000,34.000000,46.000000,7.006920,0.842202,6.750000,2.184466,...,0.037139,4.305421e-03,0.064604,0.120689,0.201009,7.336046e-03,1.723175e-02,4.964921e-02,0.033312,1.815597e-01
50%,596027.000000,1.0,0.000000,276.00000,49.666667,76.000000,7.827523,1.138554,8.175299,2.850932,...,0.042934,4.913365e-03,0.082899,0.136167,0.236065,8.152844e-03,2.432909e-02,5.527103e-02,0.042537,2.150148e-01
75%,622608.000000,1.0,0.000000,467.00000,64.333333,150.000000,9.284387,1.428969,9.649819,3.681818,...,0.050389,6.024245e-03,0.110448,0.149809,0.266816,1.058260e-02,3.151339e-02,6.033565e-02,0.047175,2.639257e-01
max,663804.000000,1.0,1.000000,639.00000,83.666667,195.000000,36.000000,9.000000,27.000000,54.000000,...,0.134633,1.260761e-01,0.990142,0.568390,0.429226,3.605314e-01,3.889125e-01,9.967583e-02,0.080575,5.678186e-01

In [108]:
# Pitchers vs RHB
vs_rhb = pitcher_events.query('b_L == 0')

X = vs_rhb[['p_L', 'H/9', 'HR/9', 'K/9', 'BB/9']]
y = vs_rhb['eventsModel']
           
vs_rhb_model = MLPClassifier(hidden_layer_sizes=(80,80), activation='relu', random_state=1,max_iter=300).fit(X,y)
           
filename = "fg_vs_rhb_20220905.sav"
pickle.dump(vs_rhb_model, open(filename, 'wb'))           
           
preds = vs_rhb_model.predict_proba(X)           
preds_df = pd.DataFrame(preds, columns=vs_rhb_model.classes_)
preds_df

vs_rhb = pd.concat([vs_rhb, preds_df], axis=0)
vs_rhb.describe()

,pitcher,b_L,p_L,out,IP,H,H/9,HR/9,K/9,BB/9,...,b2,b3,bb,fo,go,hbp,hr,lo,po,so
count,22998.000000,22998.0,22998.000000,22998.000000,22998.000000,22998.000000,22998.000000,22998.000000,22998.000000,22998.000000,...,2.299800e+04,2.299800e+04,2.299800e+04,2.299800e+04,22998.000000,2.299800e+04,2.299800e+04,2.299800e+04,2.299800e+04,2.299800e+04
mean,584386.379642,0.0,0.405035,313.639621,49.532713,95.980346,8.261836,1.232760,8.243266,3.077773,...,4.276009e-02,2.510406e-03,7.541838e-02,1.256193e-01,0.224166,1.066026e-02,3.298205e-02,6.211422e-02,4.642898e-02,2.388984e-01
std,61595.059581,0.0,0.490910,167.468622,14.860782,55.416893,2.280039,0.587339,1.915262,1.323578,...,1.297440e-02,1.930962e-03,2.707666e-02,3.251346e-02,0.050691,8.796867e-03,1.497093e-02,1.550835e-02,1.727069e-02,6.988528e-02
min,425794.000000,0.0,0.000000,1.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.141281e-09,9.618765e-51,1.963846e-07,2.610843e-14,0.000011,1.528893e-23,3.155680e-10,1.803958e-11,1.448735e-09,1.602430e-08
25%,547179.000000,0.0,0.000000,175.000000,34.000000,47.000000,7.053371,0.953532,6.750000,2.258964,...,3.544960e-02,1.084346e-03,5.686047e-02,1.059437e-01,0.193161,6.679712e-03,2.440774e-02,5.354203e-02,3.646501e-02,1.837316e-01
50%,596295.000000,0.0,0.000000,320.000000,47.000000,94.000000,7.903981,1.213483,8.175299,2.929787,...,4.148158e-02,2.126714e-03,7.090247e-02,1.272624e-01,0.220956,9.689882e-03,3.373845e-02,6.212382e-02,4.487263e-02,2.290301e-01
75%,623167.000000,0.0,1.000000,470.000000,61.333333,150.000000,9.406452,1.481013,9.404494,3.681818,...,4.644803e-02,3.309743e-03,9.296669e-02,1.474562e-01,0.257394,1.222107e-02,4.109582e-02,6.947769e-02,5.252043e-02,2.890156e-01
max,663804.000000,0.0,1.000000,639.000000,83.666667,195.000000,81.000000,9.000000,27.000000,54.000000,...,2.116730e-01,1.394570e-02,2.051420e-01,5.868469e-01,0.489212,1.781631e-01,3.921925e-01,3.250517e-01,3.328909e-01,9.220154e-01