In [1]:
import sys
if not hasattr(sys.modules['__main__'], '__file__'):
    %run "C:\Users\james\Documents\MLB\Code\U1. Imports.ipynb"
    %run "C:\Users\james\Documents\MLB\Code\U2. Utilities.ipynb"
    %run "C:\Users\james\Documents\MLB\Code\U3. Classes.ipynb"
    %run "C:\Users\james\Documents\MLB\Code\U4. Datasets.ipynb"
    %run "C:\Users\james\Documents\MLB\Code\U5. Models.ipynb"

In [2]:
multiplier_df = pd.read_csv(os.path.join(baseball_path, "Multiplier Dataset.csv"))

### Data

Create Latest PA Data

In [3]:
%%time
complete_dataset_unadjusted_latest = create_pa_inputs(multiplier_df, start_year=2025, end_year=2025, short=50, long=300, adjust=True)

merge_datasets took 0.19 seconds
clean_weather took 1.65 seconds
create_events took 0.00 seconds
create_variables took 0.09 seconds
park_adjustments took 0.07 seconds
start_data took 21.02 seconds
Short took 3.90 seconds
Long took 3.91 seconds
CPU times: total: 30.5 s
Wall time: 30.9 s

In [4]:
def start_data(df):
    original_index = df.index  # Save the original index
    
    pl_df = pl.from_pandas(df)

    # Calculate hits, total bases, reached, and faced
    pl_df = pl_df.with_columns([
        (pl.col('b1').cast(pl.Float64) + pl.col('b2').cast(pl.Float64) + pl.col('b3').cast(pl.Float64) + pl.col('hr').cast(pl.Float64)).alias('h'),
        (pl.col('b1') * 1 + pl.col('b2') * 2 + pl.col('b3') * 3 + pl.col('hr') * 4).alias('tb'),
        (pl.col('b1').cast(pl.Float64) + pl.col('b2').cast(pl.Float64) + pl.col('b3').cast(pl.Float64) + pl.col('hr').cast(pl.Float64) + pl.col('bb').cast(pl.Float64) + pl.col('hbp').cast(pl.Float64)).alias('reached'),
        pl.lit(1).alias('faced'),
        (((pl.col('inning') - 1) * 3) + pl.col('outs')).alias('outs_total')
    ])

    # Outs per PA
    pl_df = pl_df.sort(['gamePk', 'inning', 'halfInning', 'atBatIndex'])
    pl_df = pl_df.with_columns([
        (pl.col('outs_total') - pl.col('outs_total').shift(1)).over(['gamePk', 'inning', 'halfInning']).alias('outs_pa')
    ]).with_columns([
        pl.when(pl.col('outs_pa').is_null()).then(pl.col('outs')).otherwise(pl.col('outs_pa')).alias('outs_pa')
    ])

    # Sort before cumulative calculations
    pl_df = pl_df.sort(['gamePk', 'pitcher', 'inning', 'atBatIndex'])
    
    # Rolling cumulative stats per inning
    for stat in events_list + ['h', 'tb', 'reached', 'faced', 'rbi', 'outs_pa']:
        pl_df = pl_df.with_columns([
            pl.col(stat).cum_sum().over(['gamePk', 'pitcher', 'inning']).alias(f'{stat}_inning')
        ])

    # Rolling cumulative stats per game
    for stat in events_list + ['h', 'tb', 'reached', 'faced', 'rbi', 'outs_pa']:
        pl_df = pl_df.with_columns([
            pl.col(stat).cum_sum().over(['gamePk', 'pitcher']).alias(f'{stat}_game')
        ])

    # Bottom of the inning flag
    pl_df = pl_df.with_columns([
        (pl.col('top') == 0).cast(pl.Int8).alias('bottom')
    ])

    # Sort to identify starting pitchers
    pl_df = pl_df.sort(['date', 'gamePk', 'bottom', 'atBatIndex'])

    # Identify first at-bat for each bottom
    pl_df = pl_df.with_columns([
        pl.col('atBatIndex').min().over(['gamePk', 'bottom']).alias('atBatIndex_min')
    ]).with_columns([
        (pl.col('atBatIndex') == pl.col('atBatIndex_min')).cast(pl.Int8).alias('first_ab')
    ])

    # Identify pulled pitcher
    pl_df = pl_df.with_columns([
        pl.col('atBatIndex').max().over(['gamePk', 'pitcher']).alias('atBatIndex_max')
    ]).with_columns([
        (pl.col('atBatIndex') == pl.col('atBatIndex_max')).cast(pl.Int8).alias('pulled')
    ])

    # Times faced in game (adjusted for total batters faced)
    pl_df = pl_df.with_columns([
        (pl.col('faced_game') / 9).floor().fill_null(0).alias('times_faced')
    ])

    result = pl_df.to_pandas()
    result.index = original_index  # Restore the original index
    
    return result

In [5]:
def rolling_pas(df, pa_num, adjust, events_list=events_list):
    if adjust:
        events_list_copy = [f"{event}_copy" for event in events_list]
        df[events_list_copy] = df[events_list].copy()
        df[events_list] = df[events_list_adj].copy()
    

    
    # Renaming columns on df before conversion to Polars
    df.rename(columns={'hit_distance_sc': 'totalDistance', 'launch_speed': 'launchSpeed'}, inplace=True)

    # Convert to Polars after renaming
    pl_df = pl.from_pandas(df)

    # Ensure types are correctly set after converting to Polars
    pl_df = pl_df.with_columns([
        pl.col('date').cast(pl.Int32),
        pl.col('gamePk').cast(pl.Int32),
        pl.col('atBatIndex').cast(pl.Int32),
        pl.col('batter').cast(pl.Int32),
        pl.col('pitcher').cast(pl.Int32)
    ])

    # Sorting is done in Polars
    pl_df = pl_df.sort(['date', 'gamePk', 'atBatIndex'])

    # Create expressions for batter and pitcher stats
    batter_avg_exprs = [
        pl.col(col).rolling_mean(window_size=pa_num, min_periods=1).over(['batter', 'pitchHand']).alias(col + '_b')
        for col in events_list + statcast_list
    ]
    batter_max_exprs = [
        pl.col(col).rolling_max(window_size=pa_num, min_periods=1).over(['batter', 'pitchHand']).alias(col + '_b')
        for col in max_list
    ]
    batter_sum_exprs = [
        pl.col(col).rolling_sum(window_size=pa_num, min_periods=1).over(['batter', 'pitchHand']).alias(col + '_b')
        for col in ['ab', 'pa']
    ]

    pitcher_avg_exprs = [
        pl.col(col).rolling_mean(window_size=pa_num, min_periods=1).over(['pitcher', 'batSide']).alias(col + '_p')
        for col in events_list + statcast_list
    ]
    pitcher_max_exprs = [
        pl.col(col).rolling_max(window_size=pa_num, min_periods=1).over(['pitcher', 'batSide']).alias(col + '_p')
        for col in max_list
    ]
    pitcher_sum_exprs = [
        pl.col(col).rolling_sum(window_size=pa_num, min_periods=1).over(['pitcher', 'batSide']).alias(col + '_p')
        for col in ['ab', 'pa']
    ]

    # Add the computed columns to pl_df
    pl_df = pl_df.with_columns(
        batter_avg_exprs + batter_max_exprs + batter_sum_exprs +
        pitcher_avg_exprs + pitcher_max_exprs + pitcher_sum_exprs
    )

    # Create 'imp_b' and 'imp_p' directly in Polars
    pl_df = pl_df.with_columns([
        (pl.col('pa_b') < 40).cast(pl.Int32).alias('imp_b'),
        (pl.col('pa_p') < 40).cast(pl.Int32).alias('imp_p')
    ])

    # Clean up date and other columns directly in Polars
    pl_df = pl_df.with_columns([
        pl.col('game_date').str.replace_all('-', '').cast(pl.Int32).alias('date'),
        pl.col('gamePk').cast(pl.Int32),
        pl.col('atBatIndex').cast(pl.Int32),
        pl.col('batter').cast(pl.Int32),
        pl.col('pitcher').cast(pl.Int32)
    ])

    # Sort the data as needed
    pl_df = pl_df.sort(['date', 'gamePk', 'atBatIndex'])

    # Calculating wOBA, SLG, OBP, and ISO directly in Polars
    pl_df = pl_df.with_columns([
        (0.690 * pl.col('bb_b') + 0.721 * pl.col('hbp_b') +
         0.885 * pl.col('b1_b') + 1.262 * pl.col('b2_b') +
         1.601 * pl.col('b3_b') + 2.070 * pl.col('hr_b')).alias('woba_b'),
        (0.690 * pl.col('bb_p') + 0.721 * pl.col('hbp_p') +
         0.885 * pl.col('b1_p') + 1.262 * pl.col('b2_p') +
         1.601 * pl.col('b3_p') + 2.070 * pl.col('hr_p')).alias('woba_p'),

        ((1 * pl.col('b1_b') + 2 * pl.col('b2_b') + 3 * pl.col('b3_b') + 4 * pl.col('hr_b')) *
         (1 / (1 - (pl.col('bb_b') + pl.col('hbp_b'))))).alias('slg_b'),
        ((1 * pl.col('b1_p') + 2 * pl.col('b2_p') + 3 * pl.col('b3_p') + 4 * pl.col('hr_p')) *
         (1 / (1 - (pl.col('bb_p') + pl.col('hbp_p'))))).alias('slg_p'),

        (pl.col('b1_b') + pl.col('b2_b') + pl.col('b3_b') + pl.col('hr_b') +
         pl.col('bb_b') + pl.col('hbp_b')).alias('obp_b'),
        (pl.col('b1_p') + pl.col('b2_p') + pl.col('b3_p') + pl.col('hr_p') +
         pl.col('bb_p') + pl.col('hbp_p')).alias('obp_p'),

        ((pl.col('b2_b') + 2 * pl.col('b3_b') + 3 * pl.col('hr_b')) *
         (1 / (1 - (pl.col('bb_b') + pl.col('hbp_b'))))).alias('iso_b'),
        ((pl.col('b2_p') + 2 * pl.col('b3_p') + 3 * pl.col('hr_p')) *
         (1 / (1 - (pl.col('bb_p') + pl.col('hbp_p'))))).alias('iso_p')
    ])

    # Convert back to pandas for final operations
    df_copy = pl_df.to_pandas()
    
    if adjust:
        df[events_list] = df[events_list_copy].copy()
        
    return df_copy

In [6]:
def clean_weather(df):
    import numpy as np

    # Split weather into temperature and weather type
    weather_split = df['weather'].str.split(", ", expand=True)
    df['temperature'] = pd.to_numeric(weather_split[0].str.replace(" degrees", ""), errors='coerce')
    df['weather'] = weather_split[1]

    # Split wind into speed and direction
    wind_split = df['wind'].str.split(", ", expand=True)
    df['windSpeed'] = pd.to_numeric(wind_split[0].str.replace(" mph", ""), errors='coerce').fillna(0)
    df['windDirection'] = wind_split[1].fillna('L to R').str.replace(".", "", regex=False)

    wind_speed = df['windSpeed'].to_numpy()
    angled = wind_speed / 2 * np.sqrt(2)
    direction = df['windDirection'].to_numpy()

    # Create lookup tables
    y_lookup = {
        "Out To CF": wind_speed,
        "Out To RF": angled,
        "L To R": np.zeros_like(wind_speed),
        "In From LF": -angled,
        "In From CF": -wind_speed,
        "In From RF": -angled,
        "R To L": np.zeros_like(wind_speed),
        "Out To LF": angled
    }

    x_lookup = {
        "L To R": wind_speed,
        "In From LF": angled,
        "In From CF": np.zeros_like(wind_speed),
        "In From RF": -angled,
        "R To L": -wind_speed,
        "Out To LF": -angled,
        "Out To CF": np.zeros_like(wind_speed),
        "Out To RF": angled
    }

    df['y_vect'] = np.zeros(len(df))
    df['x_vect'] = np.zeros(len(df))

    for key, values in y_lookup.items():
        df.loc[direction == key, 'y_vect'] = values[direction == key]
    for key, values in x_lookup.items():
        df.loc[direction == key, 'x_vect'] = values[direction == key]

    # Overwrite for domes/roofs
    is_dome = df['weather'].str.contains('Roof|Dome', na=False)
    df.loc[is_dome, 'temperature'] = 70
    df.loc[is_dome, ['x_vect', 'y_vect']] = 0

    return df

In [7]:
%%time
complete_dataset_unadjusted_latest_pl = create_pa_inputs(multiplier_df, start_year=2025, end_year=2025, short=50, long=300, adjust=True)

merge_datasets took 0.19 seconds
clean_weather took 0.10 seconds
create_events took 0.00 seconds
create_variables took 0.08 seconds
park_adjustments took 0.06 seconds
start_data took 0.22 seconds
Short took 0.13 seconds
Long took 0.13 seconds
CPU times: total: 2.73 s
Wall time: 977 ms

In [15]:
list(complete_dataset_unadjusted_latest.columns) == list(complete_dataset_unadjusted_latest_pl.columns)

False

In [28]:
# Align both rows (index) and columns of both DataFrames
aligned_a, aligned_b = complete_dataset_unadjusted_latest.align(complete_dataset_unadjusted_latest_pl, axis=1, join='inner')

# Now compare the aligned DataFrames
diff = aligned_a.compare(aligned_b)
diff['b1_b'].tail(100)

       self  other
15259   NaN    NaN
15260   NaN    NaN
15261   NaN    NaN
15262   NaN    NaN
15263   NaN    NaN
15264   NaN    NaN
15265   NaN    NaN
15266   NaN    NaN
15267   NaN    NaN
15268   NaN    NaN
15269   NaN    NaN
15270   NaN    NaN
15271   NaN    NaN
15272   NaN    NaN
15273   NaN    NaN
15274   NaN    NaN
15275   NaN    NaN
15276   NaN    NaN
15277   NaN    NaN
15278   NaN    NaN
15279   NaN    NaN
15280   NaN    NaN
15281   NaN    NaN
15282   NaN    NaN
15283   NaN    NaN
15284   NaN    NaN
15285   NaN    NaN
15286   NaN    NaN
15287   NaN    NaN
15288   NaN    NaN
15289   NaN    NaN
15290   NaN    NaN
15291   NaN    NaN
15292   NaN    NaN
15293   NaN    NaN
15294   NaN    NaN
15295   NaN    NaN
15296   NaN    NaN
15297   NaN    NaN
15298   NaN    NaN
15299   NaN    NaN
15300   NaN    NaN
15301   NaN    NaN
15302   NaN    NaN
15303   NaN    NaN
15304   NaN    NaN
15305   NaN    NaN
15306   NaN    NaN
15307   NaN    NaN
15308   NaN    NaN
15309   NaN    NaN
15310   NaN    NaN
15311   NaN    NaN
15312   NaN    NaN
15314   NaN    NaN
15315   NaN    NaN
15316   NaN    NaN
15317   NaN    NaN
15318   NaN    NaN
15319   NaN    NaN
15320   NaN    NaN
15321   NaN    NaN
15322   NaN    NaN
15323   NaN    NaN
15324   NaN    NaN
15325   NaN    NaN
15326   NaN    NaN
15327   NaN    NaN
15328   NaN    NaN
15329   NaN    NaN
15330   NaN    NaN
15331   NaN    NaN
15332   NaN    NaN
15333   NaN    NaN
15334   NaN    NaN
15335   NaN    NaN
15336   NaN    NaN
15337   NaN    NaN
15338   NaN    NaN
15339   NaN    NaN
15340   NaN    NaN
15341   NaN    NaN
15342   NaN    NaN
15343   NaN    NaN
15344   NaN    NaN
15345   NaN    NaN
15346   NaN    NaN
15347   NaN    NaN
15348   NaN    NaN
15349   NaN    NaN
15350   NaN    NaN
15351   NaN    NaN
15352   NaN    NaN
15353   NaN    NaN
15354   NaN    NaN
15355   NaN    NaN
15356   NaN    NaN
15357   NaN    NaN
15358   NaN    NaN
15359   NaN    NaN