# Steamer Historical Weekly Logs <br>
This should only need to be run once ever <br>
It takes the Steamer Weekly Log files, which are massive csvs with a ROS projection for each player each week from 2014-2022 and then makes daily projection files from it <br>
Daily projections use last weekly projection available <br>
Might need to use this rest of season if I can't scrape FanGraphs <br>

May have gone too far producing model inputs here. Make compatible with A5. Stats

In [33]:
import pandas as pd
import numpy as np
import os
import datetime

baseball_path = r"C:\Users\james\Documents\MLB\Data"

In [56]:
# These are the stats we need to use to project
pitcher_list = ['p_L', 'H/9', 'HR/9', 'K/9', 'BB/9']
batter_list = ['b_L', 'b1_rate', 'b2_rate', 'b3_rate', 'hr_rate', 'bb_rate', 'hbp_rate', 'so_rate']

# These are the stats we want to keep
bat_list = ['proj_date', 'mlbamid', 'steamerid', 'firstname', 'lastname', 'Team', 'position', 'bats', 'PA', 'IBB', 'NIBB', 'BB', 'K', 'HBP', 'H', '2B', '3B', 'HR', 'OBP', 'SLG', 'wOBA', 'SB', 'CS']
pitch_list = ['proj_date', 'mlbamid', 'steamerid', 'firstname', 'lastname', 'Throws', 'IP', 'G', 'GS', 'K9', 'BB9', 'H', 'HR']

In [35]:
# Read in weekly log
hitters = pd.read_csv(os.path.join(baseball_path, "Steamer Weekly Log", "steamer_hitters_weekly_log.csv"))

# Make a function for this
# Seiya Suzuki wasn't appearing, so I copied his next week projection
duplicate1 = hitters.query('firstname == "Seiya"').query('lastname == "Suzuki"').query('proj_date == "2022-04-15"')
duplicate1['proj_date'] = duplicate1['proj_date'].replace("2022-04-15", "2022-04-08")

duplicate2 = hitters.query('firstname == "Christian"').query('lastname == "Bethancourt"').query('proj_date == "2022-04-22"')
duplicate2['proj_date'] = duplicate2['proj_date'].replace("2022-04-22", "2022-04-15")

hitters = pd.concat([hitters, duplicate1, duplicate2])
hitters.tail()

,proj_year,postseason,proj_date,mlbamid,steamerid,firstname,lastname,Team,position,bats,...,SLG,wOBA,SB,CS,wSB,UBR,BaseRunning,UZR,R,RBI
958119,2022,0,2022-09-30,665983.0,sa917142,Kelvin,Alarcon,NaN,2B,B,...,0.252480,0.225984,0.0086,0.0035,-0.0001,0.000,0.0009,0.000,0.0753,0.0672
958120,2022,0,2022-09-30,666680.0,sa917167,Ruben,Santana,NaN,2B,B,...,0.254236,0.221738,0.0129,0.0053,0.0000,0.000,0.0010,0.000,0.0747,0.0684
958121,2022,0,2022-09-30,670030.0,sa917991,Kole,Enright,NaN,2B,B,...,0.279482,0.232709,0.0085,0.0035,-0.0001,0.000,0.0009,0.000,0.0816,0.0798
863293,2022,0,2022-04-08,673548.0,30116,Seiya,Suzuki,CHN,RF,R,...,0.537849,0.389066,8.4428,4.2341,-0.3206,-0.175,0.0504,0.000,73.4810,77.9842
865984,2022,0,2022-04-15,542194.0,10028,Christian,Bethancourt,OAK,DH,R,...,0.382230,0.287098,0.7448,0.3222,-0.0120,-0.049,0.0090,0.053,8.4468,9.4356

In [45]:
# Read in weekly log
hitters = pd.read_csv(os.path.join(baseball_path, "FanGraphs", "Batters", "Batters_FG_20230327.csv"))
hitters['proj_year'] = 2023
hitters['proj_date'] = '2023-03-27'

hitters['K'] = hitters['SO']
hitters['position'] = hitters['POSITION']
# Make a function for this
# Seiya Suzuki wasn't appearing, so I copied his next week projection
duplicate1 = hitters.query('firstname == "Seiya"').query('lastname == "Suzuki"').query('proj_date == "2022-04-15"')
duplicate1['proj_date'] = duplicate1['proj_date'].replace("2022-04-15", "2022-04-08")

duplicate2 = hitters.query('firstname == "Christian"').query('lastname == "Bethancourt"').query('proj_date == "2022-04-22"')
duplicate2['proj_date'] = duplicate2['proj_date'].replace("2022-04-22", "2022-04-15")

hitters = pd.concat([hitters, duplicate1, duplicate2])
hitters.tail()

,mlbamid,steamerid,proj_date,firstname,lastname,Team,BasicPF,POSITION,bats,p1,...,BattingRuns,ReplacementRuns,DEF_adj,FramingRuns,WAR,WAR/PA,frWAR,proj_year,K,position
3587,665829,sa917463,2023-03-27,Luis,Leon,NaN,1.0,C,B,0.05,...,-0.061,0.03,0.0206,0.0,-0.00098,-0.00098,-0.00098,2023,0.2533,C
3588,670030,sa917991,2023-03-27,Kole,Enright,NaN,1.0,2B,B,0.05,...,-0.065,0.03,-0.0123,0.0,-0.00484,-0.00484,-0.00484,2023,0.2819,2B
3589,670622,sa919532,2023-03-27,Gabriel,Maciel,NaN,1.0,OF,B,0.05,...,-0.044,0.03,-0.0123,0.0,-0.00262,-0.00262,-0.00262,2023,0.2032,OF
3590,670582,sa920278,2023-03-27,Yariel,Gonzalez,NaN,1.0,3B,B,0.05,...,-0.035,0.03,0.0123,0.0,0.00087,0.00087,0.00087,2023,0.2419,3B
3591,665838,sa923239,2023-03-27,Reinaldo,Ilarraza,NaN,1.0,2B,B,0.05,...,-0.053,0.03,0.0041,0.0,-0.00178,-0.00178,-0.00178,2023,0.2905,2B

In [46]:


def clean_hitters(df, bat_list, year, start_month, start_day, end_month, end_day):
    # Keep relevant year and variables
    df = df[df['proj_year'] == year][bat_list]
    
    # These are just the variables we need in the model. This list is just for reference
    batter_list = ['b_L', 'b1_rate', 'b2_rate', 'b3_rate', 'hr_rate', 'bb_rate', 'hbp_rate', 'so_rate']
    
    df['playerid'] = df['steamerid']
    df.rename(columns={'K':'SO'}, inplace=True)
    
    df['Name'] = df['firstname'] + " " + df['lastname']
    
    # Create model inputs
    # df['b_L'] = (df['bats'] == "L").astype('int')
    # df['b1_rate'] = df['1B'] / df['PA']
    # df['b2_rate'] = df['2B'] / df['PA']
    # df['b3_rate'] = df['3B'] / df['PA']
    # df['hr_rate'] = df['HR'] / df['PA']
    # df['bb_rate'] = df['BB'] / df['PA']
    # df['hbp_rate'] = df['HBP'] / df['PA']
    # df['so_rate'] = df['K'] / df['PA']
    
    # Loop over all dates in range
    # Date ranges
    start_date = datetime.date(year, start_month, start_day)
    end_date = datetime.date(year, end_month, end_day)
    
    
    # Delta time
    delta = datetime.timedelta(days = 1)
    # Loop over time
    while (start_date <= end_date):

        # Destination file name
        file_date = str(start_date).replace("-", "")
        file_name = "Batters_FG_" + file_date + ".csv"
        print(df['proj_date'].unique())
        # If the date has a corresponding projection in the big dateframe
        if str(start_date) in df['proj_date'].unique():
            # Print date
            print(str(start_date))
            # Print if date has a unique projection
            print("Projection")
            
            # Make new dateframe
            weekly = df[df['proj_date'] == str(start_date)]
            
        # If it doesn't
        else:
            # Print date
            print(str(start_date))
            # Print if that date has a unique projection
            print("No projection")
            # Export existing dataframe
            
        # Export
        weekly.to_csv(os.path.join(baseball_path, "FanGraphs", "Batters", file_name), encoding='iso-8859-1')
        
        # Go to next date
        start_date += delta
    
    return df

In [47]:
hitters_clean = clean_hitters(hitters, bat_list, 2023, 3, 27, 3, 27)

['2023-03-27']
2023-03-27
Projection

In [53]:
# Read in weekly log
pitchers = pd.read_csv(os.path.join(baseball_path, "FanGraphs", "Pitchers", "Pitchers_FG_20230327.csv"))

In [54]:
# pitch_list = ['proj_date', 'mlbamid', 'steamerid', 'firstname', 'lastname', 'DBTeamId', 'Throws', 'IP', 'G', 'GS', 'K9', 'BB9', 'HR9', 'H']
def clean_pitchers(df, pitch_list, year, start_month, start_day, end_month, end_day):
    # This code is ugly here, just making some manual fixed
    df['proj_year'] = 2023
    df['K'] = df['SO']
    df['proj_date'] = '2023-03-27'
    
    
    # Keep relevant year and variables
    df = df[df['proj_year'] == year][pitch_list]
    # These are just the variables we need in the model. This list is just for reference
    pitcher_list = ['p_L', 'H/9', 'HR/9', 'K/9', 'BB/9']
    
    # Create model inputs
#     df['p_L'] = (df['Throws'] == "L").astype('int')
#     df['H/9'] = df['H'] / df['IP'] * 9 
#     df['HR/9'] = df['HR9']
#     df['K/9'] = df['K9']
#     df['BB/9'] = df['BB9']
    
    df['playerid'] = df['steamerid']
    df['Name'] = df['firstname'] + " " + df['lastname']
    
    df.rename(columns={'K9':'K/9', 'BB9':'BB/9'}, inplace=True)
    
    # Loop over all dates in range
    # Date ranges
    start_date = datetime.date(year, start_month, start_day)
    end_date = datetime.date(year, end_month, end_day)
    
    # Delta time
    delta = datetime.timedelta(days = 1)
    
    # Loop over time
    while (start_date <= end_date):

        # Destination file name
        file_date = str(start_date).replace("-", "")
        file_name = "Pitchers_FG_" + file_date + ".csv"
        
        # If the date has a corresponding projection in the big dateframe
        if str(start_date) in df['proj_date'].unique():
            # Print date
            print(str(start_date))
            # Print if date has a unique projection
            print("Projection")
            
            # Make new dateframe
            weekly = df[df['proj_date'] == str(start_date)]
            
        # If it doesn't
        else:
            # Print date
            print(str(start_date))
            # Print if that date has a unique projection
            print("No projection")
            # Export existing dataframe
            
        # Export
        weekly.to_csv(os.path.join(baseball_path, "FanGraphs", "Pitchers", file_name), encoding='iso-8859-1')
        
        # Go to next date
        start_date += delta
    
    return df

In [57]:
pitchers_clean = clean_pitchers(pitchers, pitch_list, 2023, 3, 27, 3, 27)

2023-03-27
Projection