# Contest Key Master List

In [ ]:
# THIS IS NO LONGER SUPPORTED
# Switching from a contestKey to draftGroupId approach broke it

In [12]:
import os
import re
import pandas as pd

## 1. Results

### Contest Results

In [7]:
folder_path = r"C:\Users\james\Documents\MLB\Database\A01. DraftKings\4. Results"

# Get a list of all files in the folder
files = os.listdir(folder_path)

# Regular expression pattern to match the numbers
pattern = r"contest-standings-(\d+)"

# List to store the extracted numbers
resultKeys = []

# Iterate over the files and extract the numbers
for file in files:
    match = re.search(pattern, file)
    if match:
        contestKey = match.group(1)
        resultKeys.append(contestKey)
        
len(resultKeys)

492

## 2. Contests

### Payouts

In [8]:
folder_path = r"C:\Users\james\Documents\MLB\Database\A01. DraftKings\3. Payouts"

# Get a list of all files in the folder
files = os.listdir(folder_path)

# Regular expression pattern to match the numbers
pattern = r"Payouts (\d+)"

# List to store the extracted numbers
payoutKeys = []

# Iterate over the files and extract the numbers
for file in files:
    match = re.search(pattern, file)
    if match:
        contestKey = match.group(1)
        payoutKeys.append(contestKey)
        
len(payoutKeys)

535

### Salaries

In [10]:
folder_path = r"C:\Users\james\Documents\MLB\Database\A01. DraftKings\2. Draftables"

# Get a list of all files in the folder
files = os.listdir(folder_path)

# Regular expression pattern to match the numbers
pattern = r"Draftables (\d+)"

# List to store the extracted numbers
salaryKeys = []

# Iterate over the files and extract the numbers
for file in files:
    match = re.search(pattern, file)
    if match:
        contestKey = match.group(1)
        salaryKeys.append(contestKey)
        
len(salaryKeys)

485

In [13]:
# Create a set of all unique contest keys
contestKeys = set(resultKeys + payoutKeys + salaryKeys)

# Create a dataframe with contestKey column
df = pd.DataFrame({'contestKey': list(contestKeys)})

# Add columns indicating the presence of contestKey in each list
df['result'] = df['contestKey'].isin(resultKeys).astype(int)
df['payout'] = df['contestKey'].isin(payoutKeys).astype(int)
df['salary'] = df['contestKey'].isin(salaryKeys).astype(int)

In [22]:
import os
import pandas as pd
from dateutil import parser

salaries_folder_path = r"C:\Users\james\Documents\MLB\Database\A01. DraftKings\2. Draftables"
payouts_folder_path = r"C:\Users\james\Documents\MLB\Database\A01. DraftKings\3. Payouts"

# Create new columns in the existing dataframe
df['date'] = None
df['entryFee'] = None
df['entries'] = None
df['draftGroupId'] = None
df['name'] = None

# Loop over values in "contestKey" column
for index, row in df.iterrows():
    contestKey = row['contestKey']
    
    # Read Salaries CSV file
    salaries_file_path = os.path.join(salaries_folder_path, f"Draftables {contestKey}.csv")
    if os.path.isfile(salaries_file_path):
        df_salaries = pd.read_csv(salaries_file_path, encoding='iso-8859-1')
        
        # Extract the date from the first row of "Game Info" column
        first_row_game_info = df_salaries.loc[0, 'Game Info']
        date_match = re.search(r'\d{2}/\d{2}/\d{4}', first_row_game_info)
        if date_match:
            date_str = date_match.group()
            date = parser.parse(date_str).strftime('%Y%m%d')
            df.at[index, 'date'] = date
    
    # Read Payouts CSV file
    payouts_file_path = os.path.join(payouts_folder_path, f"Payouts {contestKey}.csv")
    if os.path.isfile(payouts_file_path):
        df_payouts = pd.read_csv(payouts_file_path, encoding='iso-8859-1')
        
        # Extract desired columns from the first observation
        if not df_payouts.empty:
            df.at[index, 'entryFee'] = df_payouts.loc[0, 'entryFee']
            df.at[index, 'entries'] = df_payouts.loc[0, 'entries']
            df.at[index, 'draftGroupId'] = df_payouts.loc[0, 'draftGroupId']
            df.at[index, 'name'] = df_payouts.loc[0, 'name']

In [23]:
# df.sort_values('contestKey', inplace=True, ascending=False)
# df.to_csv(r"C:\Users\james\Documents\MLB\Data2\Utilities\Contests.csv")

In [24]:
df.head(50)

,contestKey,result,payout,salary,date,entryFee,entries,draftGroupId,name
0,150670901,1,0,0,None,None,None,None,None
1,85491,0,0,1,20230413,None,None,None,None
2,132491722,1,1,0,None,4,11890,74756,MLB $40K Four-Seamer [20 Entry Max]
3,151914982,1,1,0,None,4,66,93699,MLB $1K Four-Seamer
4,68978,0,0,1,20220517,None,None,None,None
5,74409,0,0,1,20220913,None,None,None,None
6,85024,0,0,1,20230404,None,None,None,None
7,145026268,0,1,0,None,4,5945,87811,MLB $20K Four-Seamer [20 Entry Max] (Early)
8,91109,0,0,1,20230819,None,None,None,None
9,145862210,1,1,0,None,3,2602,88679,MLB $30K Micro Moonshot [20 Entry Max]
10,89127,0,0,1,20230702,None,None,None,None
11,148027919,1,0,0,None,None,None,None,None
12,68689,0,0,1,20220516,None,None,None,None
13,91651,0,0,1,20230917,None,None,None,None
14,148027956,1,1,0,None,4,14,90890,MLB $500 Four-Seamer (Late Night)
15,143019607,1,1,0,None,4,11890,84975,MLB $40K Four-Seamer [20 Entry Max]
16,130823268,0,1,0,None,4,8917,73637,MLB $30K Four-Seamer [20 Entry Max]
17,67127,0,0,1,20220414,None,None,None,None
18,85717,0,0,1,20230415,None,None,None,None
19,132681028,1,1,0,None,4,8917,74996,MLB $30K Four-Seamer [20 Entry Max]
20,147446379,1,0,0,None,None,None,None,None
21,91219,0,0,1,20230818,None,None,None,None
22,150971203,1,0,0,None,None,None,None,None
23,144698476,1,1,0,None,4,4458,87552,"MLB $15K Four-Seamer [$5K to 1st, 20 Entry Max]"
24,125581724,1,1,0,None,15,19607,66773,MLB $250K Relay Throw [$50K to 1st]
25,90480,0,0,1,20230802,None,None,None,None
26,125905758,1,1,0,None,5,3567,67305,MLB $15K Chin Music [Single Entry]
27,151418185,1,1,0,None,4,155,93364,MLB $1K Four-Seamer (Early)
28,89339,0,0,1,20230706,None,None,None,None
29,92249,0,0,1,20230912,None,None,None,None
30,87227,0,0,1,20230513,None,None,None,None
31,146815647,1,1,0,None,4,117,89757,MLB $3K Four-Seamer (Night)
32,148538281,1,1,0,None,4,80,91268,MLB $2K Four-Seamer (Afternoon)
33,87903,0,0,1,20230602,None,None,None,None
34,89730,0,0,1,20230717,None,None,None,None
35,92876,0,0,1,20230923,None,None,None,None
36,69160,0,0,1,20220519,None,None,None,None
37,126233573,0,1,0,None,5,2378,67907,MLB $10K Chin Music [Single Entry]
38,91098,0,0,1,20230817,None,None,None,None
39,147020623,1,1,0,None,4,38,89934,MLB $2K Four-Seamer (Night)
40,89757,0,0,1,20230717,None,None,None,None
41,93691,0,0,1,20231007,None,None,None,None
42,73101,0,0,1,20220825,None,None,None,None
43,143650745,0,1,0,None,4,2972,85903,MLB $10K Four-Seamer [20 Entry Max] (Night)
44,93171,0,0,1,20230927,None,None,None,None
45,70409,0,0,1,20220616,None,None,None,None
46,133222891,1,0,0,None,None,None,None,None
47,131980110,1,1,0,None,5,356,74303,MLB $1.5K Chin Music [Single Entry]
48,128718707,0,1,0,None,5,2853,71494,MLB $12K Chin Music [Single Entry]
49,89540,0,0,1,20230714,None,None,None,None